<style class="mo-optin-form-stylesheet" type="text/css">html div#OXWfZcDphR
  div#OXWfZcDphR_sidebar.gridgum_container * { padding: 0px; margin: 0px;
  -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing:
  border-box; } html div#OXWfZcDphR div#OXWfZcDphR_sidebar.gridgum_container {
  background: #ffffff; -webkit-box-sizing: border-box; -moz-box-sizing:
  border-box; box-sizing: border-box; border: 3px solid #cccccc; margin: 10px
  auto; width: 100%; } html div#OXWfZcDphR
  div#OXWfZcDphR_sidebar.gridgum_container .mo-optin-error { display: none;
  color: #ff0000; text-align: center; padding: 5px; font-size: 14px; } html
  div#OXWfZcDphR div#OXWfZcDphR_sidebar.gridgum_container .gridgum_body { width:
  100%; margin: 10px auto; } html div#OXWfZcDphR
  div#OXWfZcDphR_sidebar.gridgum_container .gridgum_body-inner { padding-left:
  20px; padding-top: 20px; padding-right: 20px; } html div#OXWfZcDphR
  div#OXWfZcDphR_sidebar.gridgum_container .gridgum_body-inner .gridgum_header2
  { text-transform: uppercase; font-weight: 700; padding-bottom: 10px;
  font-size: 12px; color: #46ca9b; text-align: center; font-family: 'Open Sans',
  Helvetica, Arial, sans-serif; display:none; } html div#OXWfZcDphR
  div#OXWfZcDphR_sidebar.gridgum_container .gridgum_body-inner .gridgum_headline
  { padding-bottom: 10px; color: #4b4646; text-align: center; text-transform:
  capitalize; display: block; border: 0; line-height: normal; } html
  div#OXWfZcDphR div#OXWfZcDphR_sidebar.gridgum_container .gridgum_body-form
  input.gridgum_input_field, html div#OXWfZcDphR
  div#OXWfZcDphR_sidebar.gridgum_container
  input.mo-optin-form-custom-field.date-field, html div#OXWfZcDphR
  div#OXWfZcDphR_sidebar.gridgum_container
  input.mo-optin-form-custom-field.text-field, html div#OXWfZcDphR
  div#OXWfZcDphR_sidebar.gridgum_container
  input.mo-optin-form-custom-field.password-field, html div#OXWfZcDphR
  div#OXWfZcDphR_sidebar.gridgum_container select.mo-optin-form-custom-field,
  html div#OXWfZcDphR div#OXWfZcDphR_sidebar.gridgum_container
  textarea.mo-optin-form-custom-field.textarea-field { width: 100%; max-width:
  100%; padding: 10px 0px; margin: 0; margin-bottom: 20px; border: 0px;
  border-bottom: 2px solid #ccc; font-weight: normal; color: #181818; font-size:
  15px; background-color: #ffffff; box-shadow: none; } html div#OXWfZcDphR
  div#OXWfZcDphR_sidebar.gridgum_container
  .mo-optin-form-custom-field.checkbox-field, html div#OXWfZcDphR
  div#OXWfZcDphR_sidebar.gridgum_container
  .mo-optin-form-custom-field.radio-field { padding: 10px; } html div#OXWfZcDphR
  div#OXWfZcDphR_sidebar.gridgum_container
  .mo-optin-form-custom-field.checkbox-field label, html div#OXWfZcDphR
  div#OXWfZcDphR_sidebar.gridgum_container
  .mo-optin-form-custom-field.radio-field label{ margin-top: 6px; } html
  div#OXWfZcDphR div#OXWfZcDphR_sidebar.gridgum_container
  .mo-optin-form-custom-field.checkbox-field label input, html div#OXWfZcDphR
  div#OXWfZcDphR_sidebar.gridgum_container
  .mo-optin-form-custom-field.radio-field label input{ margin-right: 6px; } html
  div#OXWfZcDphR div#OXWfZcDphR_sidebar.gridgum_container
  textarea.mo-optin-form-custom-field.textarea-field { min-height: 80px; } html
  div#OXWfZcDphR div#OXWfZcDphR_sidebar.gridgum_container .gridgum_body-form
  input.gridgum_input_field:focus, html div#OXWfZcDphR
  div#OXWfZcDphR_sidebar.gridgum_container .gridgum_body-form
  input.gridgum_submit_button:focus { outline: 0; } html div#OXWfZcDphR
  div#OXWfZcDphR_sidebar.gridgum_container
  input[type="submit"].gridgum_submit_button { padding: 10px; font-size: 15px;
  border-radius: 3px; border: 0px; background: #46ca9b; text-transform:
  uppercase; color: #fff; font-weight: 700; width: 100%; } html div#OXWfZcDphR
  div#OXWfZcDphR_sidebar.gridgum_container .gridgum_note { padding-top: 10px;
  color: #777; text-align: center; font-style: italic; display: block; border:
  0; line-height: normal; } @media (min-width: 700px) { html div#OXWfZcDphR
  div#OXWfZcDphR_sidebar.gridgum_container .gridgum_content-overlay
  .gridgum_header2, .gridgum_content-overlay .gridgum_description { color: #fff;
  display: block; border: 0; line-height: normal; } } @media (min-width: 980px)
  { html div#OXWfZcDphR div#OXWfZcDphR_sidebar.gridgum_container
  .gridgum_body-inner .gridgum_header2 { font-size: 15px; text-align: center; }
  } html div#OXWfZcDphR div#OXWfZcDphR_sidebar.gridgum_container
  .mo-optin-fields-wrapper .mo-optin-form-custom-field.checkbox-field, html
  div#OXWfZcDphR div#OXWfZcDphR_sidebar.gridgum_container
  .mo-optin-fields-wrapper .mo-optin-form-custom-field.radio-field, html
  div#OXWfZcDphR div#OXWfZcDphR_sidebar.gridgum_container
  .mo-optin-fields-wrapper .list_subscription-field { margin-bottom: 20px;
  }div#OXWfZcDphR *, div#OXWfZcDphR *:before, div#OXWfZcDphR *:after
  {box-sizing: border-box;-webkit-box-sizing: border-box;-moz-box-sizing:
  border-box;}div#OXWfZcDphR_sidebar_container div#OXWfZcDphR_sidebar
  .mo-optin-field:focus {outline:0}div#OXWfZcDphR_sidebar_container
  div#OXWfZcDphR_sidebar .mo-optin-form-submit-button:focus
  {outline:0}div#OXWfZcDphR_sidebar_container div.mo-optin-powered-by{margin:5px
  auto 2px;text-align:center;}div#OXWfZcDphR_sidebar_container
  div.mo-optin-powered-by a {font-size:16px !important; text-decoration: none
  !important;box-shadow:none !important;border-bottom-width:0px
  !important;cursor:pointer !important;}div#OXWfZcDphR_sidebar_container
  .mo-acceptance-checkbox {background-color: #fff;line-height: 0;border: 1px
  solid #bbb;width: 16px;min-width: 16px;height: 16px;margin: 0 5px 0 0
  !important;outline: 0;text-align: center;vertical-align: middle;clear:
  none;cursor: pointer;}div#OXWfZcDphR_sidebar_container .mo-acceptance-label
  {cursor:pointer}div#OXWfZcDphR_sidebar_container div#OXWfZcDphR_sidebar p
  {padding:0px !important;margin:0px !important;color:inherit;}div#OXWfZcDphR
  .mo-optin-form-wrapper label {color:inherit;font-weight: normal;margin:
  0;padding:0;}div#OXWfZcDphR div#OXWfZcDphR_sidebar_container
  div#OXWfZcDphR_sidebar input[type=submit] {-webkit-appearance:
  none;}div#OXWfZcDphR div#OXWfZcDphR_sidebar_container div#OXWfZcDphR_sidebar
  input {z-index: auto;}div#OXWfZcDphR.mo-cta-button-flag .mo-optin-form-note
  .mo-acceptance-label {display:none;}div#OXWfZcDphR .mailoptin-video-container
  { position: relative; padding-bottom: 56.25%; height: 0; overflow: hidden; }
  div#OXWfZcDphR .mailoptin-video-container iframe, div#OXWfZcDphR
  .mailoptin-video-container object, div#OXWfZcDphR .mailoptin-video-container
  embed, div#OXWfZcDphR .mailoptin-video-container video { position: absolute;
  top: 0; left: 0; width: 100%; height: 100%; }html div#OXWfZcDphR
  div#OXWfZcDphR_sidebar.mo-optin-form-wrapper {max-width:400px
  !important}#OXWfZcDphR .mo-optin-form-container .mo-optin-spinner {
  border-radius: inherit; position: absolute; width: 100%; height: 100%;
  background: #fff
  url(https://www.jlm.com.pt/wp-content/plugins/mailoptin/src/core/src/assets/images/spinner.gif)
  50% 50% no-repeat; left: 0; top: 0; opacity: 0.99; filter: alpha(opacity=80);
  } #OXWfZcDphR .mo-optin-form-container .mo-optin-success-close { font-size:
  32px !important; font-family: "HelveticaNeue - Light", "Helvetica Neue Light",
  "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif !important;
  color: #282828 !important; font-weight: 300 !important; position: absolute
  !important; top: 0 !important; right: 10px !important; background: none
  !important; text-decoration: none !important; width: auto !important; height:
  auto !important; display: block !important; line-height: 32px !important;
  padding: 0 !important; -moz-box-shadow: none !important; -webkit-box-shadow:
  none !important; box-shadow: none !important; } #OXWfZcDphR
  .mo-optin-form-container .mo-optin-form-wrapper .mo-optin-success-msg {
  font-size: 21px; font-family: "HelveticaNeue - Light", "Helvetica Neue Light",
  "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; color:
  #282828 !important; font-weight: 300; text-align: center; margin: 0 auto;
  width: 100%; position: absolute !important; left: 50%; top: 50%;
  -webkit-transform: translate(-50%, -50%); -moz-transform: translate(-50%,
  -50%); -o-transform: translate(-50%, -50%); -ms-transform: translate(-50%,
  -50%); transform: translate(-50%, -50%); } #OXWfZcDphR
  .mo-optin-form-container .mo-optin-form-wrapper .mo-optin-success-msg a {
  color: #0000EE; text-decoration: underline; } html div#OXWfZcDphR
  .mo-optin-form-container .mo-optin-form-wrapper .mo-optin-fields-wrapper
  .list_subscription-field:not(select), html div#OXWfZcDphR
  .mo-optin-form-container .mo-optin-form-wrapper .mo-optin-fields-wrapper
  .checkbox-field, html div#OXWfZcDphR .mo-optin-form-container
  .mo-optin-form-wrapper .mo-optin-fields-wrapper .radio-field, html
  div#OXWfZcDphR .mo-optin-form-container .mo-optin-form-wrapper
  .mo-optin-fields-wrapper .select-field { margin-top: 6px; } html
  div#OXWfZcDphR .mo-optin-form-container .mo-optin-form-wrapper
  .mo-optin-fields-wrapper .checkbox-field, html div#OXWfZcDphR
  .mo-optin-form-container .mo-optin-form-wrapper .mo-optin-fields-wrapper
  .radio-field, html div#OXWfZcDphR .mo-optin-form-container
  .mo-optin-form-wrapper .mo-optin-fields-wrapper .select-field { text-align:
  left; padding: 6px; } html div#OXWfZcDphR .mo-optin-form-container
  .mo-optin-form-wrapper .mo-optin-fields-wrapper .checkbox-field label, html
  div#OXWfZcDphR .mo-optin-form-container .mo-optin-form-wrapper
  .mo-optin-fields-wrapper .radio-field label { display: block; text-align:
  left; margin-top: 6px; } html div#OXWfZcDphR .mo-optin-form-container
  .mo-optin-form-wrapper .mo-optin-fields-wrapper .checkbox-field label input,
  html div#OXWfZcDphR .mo-optin-form-container .mo-optin-form-wrapper
  .mo-optin-fields-wrapper .radio-field label input { margin-right: 5px;
  vertical-align: middle; } html div#OXWfZcDphR .mo-optin-form-container
  .mo-optin-form-wrapper .mo-optin-fields-wrapper .select-field select { width:
  100%; } html div#OXWfZcDphR div#OXWfZcDphR_sidebar .mo-optin-fields-wrapper
  .list_subscription-field:not(select), html div#OXWfZcDphR
  div#OXWfZcDphR_sidebar .mo-optin-fields-wrapper
  .mo-optin-form-custom-field.checkbox-field, html div#OXWfZcDphR
  div#OXWfZcDphR_sidebar .mo-optin-fields-wrapper
  .mo-optin-form-custom-field.radio-field { padding: 0 !important; border: 0
  !important; background: transparent !important; } html div#OXWfZcDphR
  .mo-optin-form-container .mo-optin-form-wrapper .mo-optin-fields-wrapper
  .list_subscription-field label { display: block !important; margin: 5px 0
  !important; } html div#OXWfZcDphR .mo-optin-form-container
  .mo-optin-form-wrapper .mo-optin-fields-wrapper .list_subscription-field
  label:last-child { margin: 0; } html div#OXWfZcDphR .mo-optin-form-container
  .mo-optin-form-wrapper .mo-optin-fields-wrapper .list_subscription-field
  input[type=checkbox] { cursor: pointer; } .mailoptin-content-lock { color:
  transparent!important; text-shadow: rgba(0,0,0,.5) 0 0 10px; -moz-user-select:
  none; -ms-user-select: none; user-select: none; pointer-events: none; filter:
  url("data:image/svg+xml;utf9,<svg%20version='1.1'%20xmlns='http://www.w3.org/2000/svg'><filter%20id='blur'><feGaussianBlur%20stdDeviation='10'%20/></filter></svg>#blur");
  -webkit-filter: blur(10px); -ms-filter: blur(10px); -o-filter: blur(10px);
  filter: blur(10px); } div#OXWfZcDphR div#OXWfZcDphR_sidebar
  .mo-optin-form-headline, div#OXWfZcDphR div.mo-optin-form-container h2,
  div#OXWfZcDphR div.mo-optin-form-container h1 { font-size: 22px !important;
  }div#OXWfZcDphR div#OXWfZcDphR_sidebar .mo-optin-form-description,
  div#OXWfZcDphR div.mo-optin-form-container div#OXWfZcDphR_sidebar p {
  font-size: 18px !important; }div#OXWfZcDphR div#OXWfZcDphR_sidebar
  .mo-optin-form-note { font-size: 12px !important; }@media screen and
  (max-width: 768px) { div#OXWfZcDphR div#OXWfZcDphR_sidebar
  .mo-optin-form-headline, div#OXWfZcDphR div.mo-optin-form-container
  div#OXWfZcDphR_sidebar h2, div#OXWfZcDphR div.mo-optin-form-container
  div#OXWfZcDphR_sidebar h1 { font-size: 22px !important; } div#OXWfZcDphR
  div#OXWfZcDphR_sidebar .mo-optin-form-description, div#OXWfZcDphR
  div.mo-optin-form-container div#OXWfZcDphR_sidebar p { font-size: 18px
  !important; } div#OXWfZcDphR div#OXWfZcDphR_sidebar .mo-optin-form-note {
  font-size: 12px !important; } }@media screen and (max-width: 480px) {
  div#OXWfZcDphR div#OXWfZcDphR_sidebar .mo-optin-form-headline, div#OXWfZcDphR
  div.mo-optin-form-container div#OXWfZcDphR_sidebar h2, div#OXWfZcDphR
  div.mo-optin-form-container div#OXWfZcDphR_sidebar h1 { font-size: 20px
  !important; } div#OXWfZcDphR div#OXWfZcDphR_sidebar
  .mo-optin-form-description, div#OXWfZcDphR div.mo-optin-form-container
  div#OXWfZcDphR_sidebar p { font-size: 12px !important; } div#OXWfZcDphR
  div#OXWfZcDphR_sidebar .mo-optin-form-note, div#OXWfZcDphR
  div#OXWfZcDphR_sidebar .mo-optin-form-note * { font-size: 12px !important; } }
  #OXWfZcDphR #OXWfZcDphR_sidebar
  .mo-optin-field.mo-optin-form-name-field::-webkit-input-placeholder { color:
  #181818 !important; } #OXWfZcDphR #OXWfZcDphR_sidebar
  .mo-optin-field.mo-optin-form-name-field:-ms-input-placeholder { color:
  #181818 !important; } #OXWfZcDphR #OXWfZcDphR_sidebar
  .mo-optin-field.mo-optin-form-name-field::placeholder { color: #181818
  !important; } #OXWfZcDphR #OXWfZcDphR_sidebar
  .mo-optin-field.mo-optin-form-email-field::-webkit-input-placeholder { color:
  #181818 !important; } #OXWfZcDphR #OXWfZcDphR_sidebar
  .mo-optin-field.mo-optin-form-email-field:-ms-input-placeholder { color:
  #181818 !important; } #OXWfZcDphR #OXWfZcDphR_sidebar
  .mo-optin-field.mo-optin-form-email-field::placeholder { color: #181818
  !important; } div#OXWfZcDphR .mo-mailchimp-interest-container { margin: 0 10px
  2px; } div#OXWfZcDphR .mo-mailchimp-interest-label { font-size: 16px; margin:
  5px 0 2px; } div#OXWfZcDphR .mo-mailchimp-interest-category-label { font-size:
  14px; margin: 5px 0 2px; } div#OXWfZcDphR input.mo-mailchimp-interest-choice {
  line-height: normal; border: 0; margin: 0 5px; } div#OXWfZcDphR
  span.mo-mailchimp-choice-label { vertical-align: middle; font-size: 14px; }
  div#OXWfZcDphR .mo-mailchimp-interest-choice-container { margin: 5px 0; }</style>
<script type="text/javascript">var OXWfZcDphR = OXWfZcDphR_sidebar =
  {"optin_uuid":"OXWfZcDphR","optin_campaign_id":2,"optin_campaign_name":"EN","optin_type":"sidebar","post_id":1076,"cookie":30,"success_cookie":30,"global_cookie":0,"global_success_cookie":0,"success_message":"Thanks
  for
  subscribing!","name_field_required":true,"is_split_test":false,"x_seconds_status":true,"x_seconds_value":3,"success_action":"success_message","state_after_conversion":"success_message_shown","test_mode":false,"icon_close":false,"unexpected_error":"Unexpected
  error. Please try again.","email_missing_error":"Please enter a valid
  email.","name_missing_error":"Please enter a
  name.","custom_field_required_error":"A required field is
  empty.","note_acceptance_error":"Please accept our
  terms.","honeypot_error":"Your submission has been flagged as potential
  spam."};</script>
<footer class="site-footer" style="margin-top: 56px;">
  <div class="container">
    <div class="row">
      <div class="col-md-4">
        <aside id="text-12" class="widget widget_text"><h3
            class="widget-title"
          ><span>ABOUT US</span></h3>
          <div class="textwidget"><p><img
                src="/logo_white.png"
                alt="jlmpanel"
              /><br />
              José Luís Madeiras philosophy expresses our closeness to our
              partners, customers and suppliers.</p>
          </div>
        </aside>
        <div style="font-size: 20px; display:flex; gap:12px">
          <i class="fab fa-facebook"></i>
          <i class="fab fa-instagram"></i>
          <i class="fab fa-linkedin"></i>
        </div>
      </div>
      <div class="col-md-4">
        <aside
          id="mo_optin_widgets-5"
          class="widget widget_mo_optin_widgets"
        ><h3 class="widget-title"><span>Subscriber Newsletter</span></h3>
          <!-- This site converts visitors into subscribers and customers with the MailOptin WordPress plugin v1.2.64.0 - https://mailoptin.io -->

          <div
            id="OXWfZcDphR"
            class="moOptinForm mo-optin-form-sidebar mo-has-name-email"
            data-optin-type="sidebar"
          ><div
              class="mo-optin-form-container"
              id="OXWfZcDphR_sidebar_container"
              style="position:relative;margin: 0 auto;"
            ><div
                id="OXWfZcDphR_sidebar"
                class="mo-optin-form-wrapper mo-has-name-email gridgum_container"
                style="position: relative;margin-right: auto;margin-left: auto;background-color: #ffffff;border-color: #cccccc;line-height: normal;"
              ><form
                  method="post"
                  class="mo-optin-form"
                  id="OXWfZcDphR_sidebar_form"
                  style="margin:0;"
                ><div class="gridgum_body"><div class="gridgum_body-inner"><div
                        class="gridgum_header2"
                      >Don't miss out!</div><div
                        class="mo-optin-form-headline gridgum_headline"
                        style="color: #4b4646;font-family: 'Open Sans', Helvetica, Arial, sans-serif;display: none;"
                      >Subscribe To Newsletter</div><div
                        class="gridgum_body-form"
                      ><div class="mo-optin-fields-wrapper" style=""><input
                            id="OXWfZcDphR_sidebar_name_field"
                            class="mo-optin-field mo-optin-form-name-field gridgum_input_field"
                            style="color: #181818;background-color: #ffffff;height: auto;font-family: Palatino Linotype, Book Antiqua, serif;"
                            type="text"
                            placeholder="Enter your name here..."
                            name="mo-name"
                            value=""
                            autocomplete="on"
                          />
                          <input
                            id="OXWfZcDphR_sidebar_email_field"
                            class="mo-optin-field mo-optin-form-email-field gridgum_input_field"
                            style="color: #181818;background-color: #ffffff;height: auto;font-family: Palatino Linotype, Book Antiqua, serif;"
                            type="email"
                            placeholder="Enter your email address here..."
                            name="mo-email"
                            value=""
                            autocomplete="on"
                          />
                          <input
                            id="OXWfZcDphR_sidebar_submit_button"
                            class="mo-optin-form-submit-button gridgum_submit_button"
                            style="background: #584632;color: #ffffff;height: auto;text-shadow: none;font-family: 'Open Sans', Helvetica, Arial, sans-serif;"
                            type="submit"
                            value="Subscribe Now"
                          />
                        </div><input
                          id="OXWfZcDphR_sidebar_cta_button"
                          class="mo-optin-form-cta-button gridgum_submit_button"
                          style="background: #0073b7;color: #ffffff;height: auto;text-shadow: none;font-family: 'Open Sans', Helvetica, Arial, sans-serif;display: none;"
                          type="submit"
                          value="Take Action Now!"
                        />
                      </div><div
                        class="mo-optin-form-note gridgum_note"
                        style="color: #000000;font-family: 'Open Sans', Helvetica, Arial, sans-serif;"
                      ><label class="mo-acceptance-label"><input
                            name="mo-acceptance"
                            class="mo-acceptance-checkbox"
                            type="checkbox"
                            value="yes"
                          /><span class="mo-note-content"><span>I have read and
                              accept the Privacy Policies</span></span></label></div><div
                        class="mo-optin-error"
                      >Invalid email address</div></div></div></form><div
                  class="mo-optin-success-msg"
                  style="display:none"
                >Thanks for subscribing!</div></div></div></div>
          <script type="text/javascript">jQuery(function(){if(typeof
            WebFont!=='undefined'){WebFont.load({google: {families: ['Open
            Sans:400,700',]}});}});</script></aside>
      </div>
      <div class="col-md-4">
        <aside
          id="custom_html-4"
          class="widget_text widget widget_custom_html"
        ><h3 class="widget-title"><span>Contacts</span></h3><div
            class="textwidget custom-html-widget"
          ><div class="office">
              <p><i class="fa fa-map-marker"></i>
                Travessa S. Salvador N.º2 | 4590-867 Ferreira<br />Paços de
                Ferreira | Portugal
              </p>
              <p><i class="fa fa-phone"></i>+351 255 868 380</p>
              <p><i class="fa fa-envelope"></i> geral@jlmpanel.com</p>
              <p><i class="fa fa-clock-o"></i> Mon. a Fri. : 9:00 - 18:00</p>
            </div>
            <a
              href="https://www.jlm.com.pt/wp-content/uploads/2023/03/ficha-do-projeto.pdf"
              target="_blank"
              rel="noopener"
            ><img
                class="aligncenter wp-image-2745 size-full"
                src="https://www.jlm.com.pt/wp-content/uploads/2020/09/logosco-1.png"
                alt=""
                width="350"
                height="47"
              /></a>
            <a href="#" target="_blank" rel="noopener"><img
                class="aligncenter wp-image-2745 size-full"
                src="https://www.jlm.com.pt/wp-content/uploads/2023/11/logoprr.png"
                alt=""
                width="350"
                height="33"
              /></a></div></aside>
      </div>
    </div>
  </div>
</footer>

<div class="copyright">
  <div class="container center">
    © Copyright 2023 . Todos os direitos reservados José Luís Madeiras
  </div>
</div><!-- .copyright -->

<a class="scrollup">
  <i class="fa fa-angle-up"></i>
</a>