<header class="site-header">
  <div class="site-top hidden-xs hidden-sm">
    <div class="container">
      <div class="row middle">
        <div class="col-md-12 col-lg-7">
          <aside
            id="custom_html-8"
            class="widget_text widget widget_custom_html"
          >
            <div class="textwidget custom-html-widget"><ul class="extra-info">
                <li><i class="fa fa-phone"> </i> +351 961 837 057</li>
                <li><i class="fa fa-clock-o"></i> Mon. a Fri: 09:00 - 18:00</li>
                <li><i class="fa fa-envelope-o"></i>geral@jlmpanel.com</li>
              </ul>
            </div>
          </aside>
        </div>
        <div class="col-lg-5 hidden-md end-lg">
          <div
            style="font-size: 20px; display:flex; gap:12px;justify-content:end;"
          >
            <i class="fab fa-facebook"></i>
            <i class="fab fa-instagram"></i>
            <i class="fab fa-linkedin"></i>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="row middle-xs middle-sm">
      <div class="col-md-2 col-xs-10">
        <div class="site-branding">
          <a href="/" rel="home">
            <img
              src="/logo.png"
              srcset="/logo.png 2x"
              alt="José Luis Madeiras"
              alt="José Luis Madeiras"
            />
          </a>
        </div>
      </div>
      <div class="col-xs-2 hidden-md hidden-lg end">
        <a href="#menu"><i id="open-left" class="fa fa-navicon"></i></a>
      </div>
      <div class="col-md-10 hidden-xs hidden-sm end">
        <nav id="site-navigation" class="main-navigation">
          <div class="container">
            <div class="row middle">
              <div class="primary-menu"><ul id="primary-menu" class="menu"><li
                    id="menu-item-1094"
                    class="menu-item menu-item-type-post_type menu-item-object-page menu-item-home current-menu-item page_item page-item-1076 current_page_item menu-item-1094"
                  ><a href="/" aria-current="page">Home</a></li>
                  <li
                    id="menu-item-1095"
                    class="menu-item menu-item-type-custom menu-item-object-custom current-menu-item current_page_item menu-item-home menu-item-has-children menu-item-1095"
                  ><a href="#" aria-current="page">Presentation</a>
                    <ul class="sub-menu">
                      <li
                        id="menu-item-1097"
                        class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1097"
                      ><a href="/about-us">About us</a></li>
                      <li
                        id="menu-item-1154"
                        class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1154"
                      ><a href="/certification">Certification</a></li>
                      <li
                        id="menu-item-2089"
                        class="menu-item menu-item-type-post_type menu-item-object-page menu-item-2089"
                      ><a href="/our-services">Our Services</a></li>
                      <li
                        id="menu-item-1155"
                        class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1155"
                      ><a href="/quality-policy">Quality policy</a></li>
                      <li
                        id="menu-item-1156"
                        class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1156"
                      ><a href="/environmental-sustainability">Environmental
                          sustainability</a></li>
                      <li
                        id="menu-item-1157"
                        class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1157"
                      ><a href="/partners">Brands</a></li>
                    </ul>
                  </li>
                  <li
                    id="menu-item-2188"
                    class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children menu-item-2188"
                  ><a href="#">Products</a>
                    <ul class="sub-menu">
                      <li
                        id="menu-item-1166"
                        class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1166"
                      ><a href="/alder">Alder</a></li>
                      <li
                        id="menu-item-1161"
                        class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1161"
                      ><a href="/american-cherry-wood">American cherry wood</a></li>
                      <li
                        id="menu-item-1500"
                        class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1500"
                      ><a href="/nogueira-americana-2">American Walnut</a></li>
                      <li
                        id="menu-item-1164"
                        class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1164"
                      ><a href="/ash">Ash</a></li>
                      <li
                        id="menu-item-1163"
                        class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1163"
                      ><a href="/beechwood">Beechwood</a></li>
                      <li
                        id="menu-item-1168"
                        class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1168"
                      ><a href="/birch-wood">Birchwood</a></li>
                      <li
                        id="menu-item-1160"
                        class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1160"
                      ><a href="/brown">Chestnut</a></li>
                      <li
                        id="menu-item-1159"
                        class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1159"
                      ><a href="/european-oak">European Oak</a></li>
                      <li
                        id="menu-item-1162"
                        class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1162"
                      ><a href="/european-cherry-wood">European cherry wood</a></li>
                      <li
                        id="menu-item-1493"
                        class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1493"
                      ><a href="/hornbeam">Hornbeam</a></li>
                      <li
                        id="menu-item-1240"
                        class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1240"
                      ><a href="/linden-tree">Linden</a></li>
                      <li
                        id="menu-item-1167"
                        class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1167"
                      ><a href="/sycamore">Sycamore</a></li>
                      <li
                        id="menu-item-1169"
                        class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1169"
                      ><a href="/tulip-tree">Tulipwood</a></li>
                      <li
                        class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1169"
                      ><a href="/edge_glued_panels">Cherry Panels</a></li>
                    </ul>
                  </li>
                  <li
                    id="menu-item-1172"
                    class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1172"
                  ><a href="/news">News</a></li>
                  <li
                    id="menu-item-1171"
                    class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1171"
                  ><a href="/contacts">Contacts</a></li>
                  <li
                    id="menu-item-1445"
                    class="pll-parent-menu-item menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children menu-item-1445"
                  ><a>English</a>
                  </li>
                </ul></div>
              <div class="search-box hidden-xs hidden-sm hidden-md end">
                <form
                  role="search"
                  method="get"
                  class="search-form"
                  action="/search"
                >
                  <label>
                    <span class="screen-reader-text">Search for:</span>
                    <input
                      type="search"
                      class="search-field"
                      placeholder="Search &hellip;"
                      value=""
                      name="s"
                    />
                  </label>
                  <input type="submit" class="search-submit" value="Search" />
                </form>
                <i class="fa fa-search"></i>
              </div>
            </div>
          </div>
        </nav>
        <!-- #site-navigation -->
      </div>
    </div>
  </div>
</header>

<nav id="menu">
  <div class="primary-menu"><ul id="primary-menu" class="menu"><li
        class="menu-item menu-item-type-post_type menu-item-object-page menu-item-home current-menu-item page_item page-item-1076 current_page_item menu-item-1094"
      ><a href="/" aria-current="page">Home</a></li>
      <li
        class="menu-item menu-item-type-custom menu-item-object-custom current-menu-item current_page_item menu-item-home menu-item-has-children menu-item-1095"
      ><a href="#" aria-current="page">Presentation</a>
        <ul class="sub-menu">
          <li
            class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1097"
          ><a href="/about-us">About us</a></li>
          <li
            class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1154"
          ><a href="/certification">Certification</a></li>
          <li
            class="menu-item menu-item-type-post_type menu-item-object-page menu-item-2089"
          ><a href="/our-services">Our Services</a></li>
          <li
            class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1155"
          ><a href="/quality-policy">Quality policy</a></li>
          <li
            class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1156"
          ><a href="/environmental-sustainability">Environmental sustainability</a></li>
          <li
            class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1157"
          ><a href="/partners">Brands</a></li>
        </ul>
      </li>
      <li
        class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children menu-item-2188"
      ><a href="#">Products</a>
        <ul class="sub-menu">
          <li
            class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1166"
          ><a href="/alder">Alder</a></li>
          <li
            class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1161"
          ><a href="/american-cherry-wood">American cherry wood</a></li>
          <li
            class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1500"
          ><a href="/nogueira-americana-2">American Walnut</a></li>
          <li
            class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1164"
          ><a href="/ash">Ash</a></li>
          <li
            class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1163"
          ><a href="/beechwood">Beechwood</a></li>
          <li
            class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1168"
          ><a href="/birch-wood">Birchwood</a></li>
          <li
            class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1160"
          ><a href="/brown">Chestnut</a></li>
          <li
            class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1159"
          ><a href="/european-oak">European Oak</a></li>
          <li
            class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1162"
          ><a href="/european-cherry-wood">European cherry wood</a></li>
          <li
            class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1493"
          ><a href="/hornbeam">Hornbeam</a></li>
          <li
            class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1240"
          ><a href="/linden-tree">Linden</a></li>
          <li
            class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1167"
          ><a href="/sycamore">Sycamore</a></li>
          <li
            class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1169"
          ><a href="/tulip-tree">Tulipwood</a></li>
          <li
            class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1169"
          ><a href="/edge_glued_panels">Cherry Panels</a></li>
        </ul>
      </li>
      <li
        class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1172"
      ><a href="/news">News</a></li>
      <li
        class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1171"
      ><a href="/contacts">Contacts</a></li>
      <li
        class="pll-parent-menu-item menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children menu-item-1445"
      ><a>English</a>

      </li>
    </ul></div></nav>