<div id="content" class="site-content">
  <div
    class="big-title"
    style="background-image: url('https://www.jlm.com.pt/wp-content/uploads/2023/07/sobrenos-1.webp')"
  >
    <div class="container">
      <div class="row middle">
        <div class="col-md-8">
          <h1 class="entry-title" itemprop="headline">About us</h1>
          <h3>Founded in 1994, in Paços de Ferreira, by José Luís Gonçalves, the
            company was designated as: José Luís - Madeiras, Lda, having been
            quickly stated in the processing and marketing of Timber market</h3>
        </div>
        <div class="col-md-4 end">
        </div>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="content">
          <article id="post-1081">
            <div class="entry-content">
              <section class="wpb-content-wrapper"><div
                  class="vc_row wpb_row vc_row-fluid"
                ><div class="wpb_column vc_column_container vc_col-sm-12"><div
                      class="vc_column-inner"
                    ><div class="wpb_wrapper"><div
                          class="vc_custom_heading style2"
                        ><h2
                            style="font-size: 30px;color: #333333;text-align: left"
                          >Our Story</h2></div>
                        <div class="wpb_text_column wpb_content_element grey">
                          <div class="wpb_wrapper">
                            <p>Founded in 1994, in Paços de Ferreira, by José
                              Luís Gonçalves, the company was designated as:
                              <strong>José Luís – Madeiras, Lda</strong>, having
                              been quickly stated in the processing and
                              marketing of Timber market. The
                              <strong>José Luís Madeiras</strong>, 100%
                              Portuguese company, expert in the processing and
                              marketing of wood for the furniture industry,
                              carpentry, construction, interior design and other
                              market niches which also consume this noble raw
                              material.</p>
                            <p><strong>José Luís Madeiras</strong>, family
                              business, has been restructured and successfully
                              implemented business succession process, being
                              held in whole and led by Filipe Gonçalves, son of
                              the founder.</p>
                            <p>With the strategic venture on specialisation in
                              the segment of dried wood,
                              <strong>José Luís Madeiras</strong>
                              annually produces about 20 000 m3, and processes
                              the artificial drying of 8 000 m3 in company owned
                              greenhouses. Combining this ability with the
                              modern road access, our customers have a fast and
                              effective delivery of high quality at competitive
                              prices.</p>
                            <p>With a total area of more than 38 000 m2, being 8
                              000m2 covered area, allows us to welcome the best
                              selected raw materials in the most different
                              thicknesses, and maintain the wood always properly
                              dry.</p>
                            <p><strong>José Luís Madeiras</strong>
                              directly and carefully chooses from the forest,
                              based on high quality criteria and social
                              responsibility, the timber that is sold, since
                              cherry wood, french oak, ash wood, brown wood,
                              linden wood, beech wood, Alder wood, sicómero
                              wood, tulip tree wood and birch wood.</p>
                            <p>With a staff of highly motivated and skilled
                              professionals, strengthened by modern
                              technologies, management and pro-active
                              leadership, the company has registered a constant
                              evolution and efficiency in providing the best
                              service to our customers.</p>
                            <p>Therefore it naturally originates quality
                              certification according to ISO 9001:2008,
                              completed in October 2011. And since November 2013
                              PEFC.</p>
                            <p>Since 2010, the company is distinguished by
                              IAPMEI with the PME Leader status.</p>
                            <p>The success achieved is not only ours but it also
                              belongs to all those who have shared this path:
                              our customers and partners.</p>
                            <p>With more than two decades of experience in the
                              market place,
                              <strong>José Luís Madeiras</strong>
                              is leader in the Excellence in Timber.</p>

                          </div>
                        </div>
                        <div class="vc_btn3-container vc_btn3-center"><a
                            class="vc_general vc_btn3 vc_btn3-size-md vc_btn3-shape-rounded vc_btn3-style-modern vc_btn3-color-grey"
                            href="https://www.jlm.com.pt/wp-content/uploads/2017/07/Brochura-2017_net.pdf"
                            title=""
                            target="_blank"
                          >Download Presentation</a></div><div
                          class="vc_custom_heading style2"
                        ><h2
                            style="font-size: 30px;color: #333333;text-align: left"
                          >Our Mission</h2></div>
                        <div class="wpb_text_column wpb_content_element grey">
                          <div class="wpb_wrapper">
                            <p>Provide carefully chosen natural wood from the
                              forest, while respecting their sustainability,
                              seeking to meet the most demanding needs of
                              customers and the ambitions of the stakeholders.</p>

                          </div>
                        </div>
                        <div class="vc_custom_heading style2"><h2
                            style="font-size: 30px;color: #333333;text-align: left"
                          >Our Vision</h2></div>
                        <div class="wpb_text_column wpb_content_element grey">
                          <div class="wpb_wrapper">
                            <p>Making wood present and appreciated by society.</p>

                          </div>
                        </div>
                      </div></div></div></div><div
                  class="vc_row wpb_row vc_row-fluid vc_custom_1439000483075"
                ><div class="wpb_column vc_column_container vc_col-sm-12"><div
                      class="vc_column-inner"
                    ><div class="wpb_wrapper">
                        <div
                          class="wpb_video_widget wpb_content_element vc_clearfix vc_video-aspect-ratio-169 vc_video-el-width-100 vc_video-align-center"
                        >
                          <div class="wpb_wrapper">

                            <div class="wpb_video_wrapper"><iframe
                                src="https://player.vimeo.com/video/173021867"
                                width="640"
                                height="360"
                                frameborder="0"
                                title="José Luís Madeiras"
                                webkitallowfullscreen=""
                                mozallowfullscreen=""
                                allowfullscreen=""
                              ></iframe></div>
                          </div>
                        </div>
                      </div></div></div></div><div
                  data-vc-full-width="true"
                  data-vc-full-width-init="true"
                  data-vc-parallax="1.5"
                  class="vc_row wpb_row vc_row-fluid vc_custom_1458233925897 vc_row-has-fill vc_general vc_parallax vc_parallax-content-moving"
                  style="position: relative; left: -37.5px; box-sizing: border-box; width: 825px; max-width: 825px; padding-left: 37.5px; padding-right: 37.5px;"
                ><div class="wpb_column vc_column_container vc_col-sm-12"><div
                      class="vc_column-inner"
                    ><div class="wpb_wrapper"><div
                          class="vc_custom_heading style2"
                        ><h2
                            style="font-size: 30px;color: #333333;text-align: left"
                          >OUR SERVICES</h2></div><div
                          class="vc_row wpb_row vc_inner vc_row-fluid vc_custom_1440407217856"
                        ><div
                            class="wpb_column vc_column_container vc_col-sm-2"
                          ><div class="vc_column-inner"><div
                                class="wpb_wrapper"
                              >
                                <div
                                  class="wpb_single_image wpb_content_element vc_align_center wpb_animate_when_almost_visible wpb_left-to-right left-to-right icon wpb_start_animation animated"
                                >

                                  <figure class="wpb_wrapper vc_figure">
                                    <a
                                      href="/our-services"
                                      target="_self"
                                      class="vc_single_image-wrapper vc_box_border_grey"
                                    ><img
                                        width="65"
                                        height="65"
                                        src="https://www.jlm.com.pt/wp-content/uploads/2015/08/corte.png"
                                        class="vc_single_image-img attachment-full"
                                        alt="José Luís Madeiras - Excelência em madeira"
                                        loading="lazy"
                                        title="corte"
                                      /></a>
                                  </figure>
                                </div>
                                <div class="vc_custom_heading"><h3
                                    style="font-size: 15px;color: #000000;line-height: 1;text-align: center"
                                  >CUTTING</h3></div></div></div></div><div
                            class="wpb_column vc_column_container vc_col-sm-2"
                          ><div class="vc_column-inner"><div
                                class="wpb_wrapper"
                              >
                                <div
                                  class="wpb_single_image wpb_content_element vc_align_center wpb_animate_when_almost_visible wpb_left-to-right left-to-right icon wpb_start_animation animated"
                                >

                                  <figure class="wpb_wrapper vc_figure">
                                    <a
                                      href="/our-services"
                                      target="_self"
                                      class="vc_single_image-wrapper vc_box_border_grey"
                                    ><img
                                        width="65"
                                        height="65"
                                        src="https://www.jlm.com.pt/wp-content/uploads/2020/05/descasca_2020-2.png"
                                        class="vc_single_image-img attachment-full"
                                        alt="José Luís Madeiras - Excelência em madeira"
                                        loading="lazy"
                                        title="descasca_2020"
                                      /></a>
                                  </figure>
                                </div>
                                <div class="vc_custom_heading"><h3
                                    style="font-size: 15px;color: #000000;line-height: 1;text-align: center"
                                  >DEBARKING SERVICES</h3></div></div></div></div><div
                            class="wpb_column vc_column_container vc_col-sm-2"
                          ><div class="vc_column-inner"><div
                                class="wpb_wrapper"
                              >
                                <div
                                  class="wpb_single_image wpb_content_element vc_align_center wpb_animate_when_almost_visible wpb_left-to-right left-to-right icon wpb_start_animation animated"
                                >

                                  <figure class="wpb_wrapper vc_figure">
                                    <a
                                      href="/our-services"
                                      target="_self"
                                      class="vc_single_image-wrapper vc_box_border_grey"
                                    ><img
                                        width="65"
                                        height="65"
                                        src="https://www.jlm.com.pt/wp-content/uploads/2020/05/alinhadeira_2020-2.png"
                                        class="vc_single_image-img attachment-full"
                                        alt="José Luís Madeiras - Excelência em madeira"
                                        loading="lazy"
                                        title="alinhadeira_2020"
                                      /></a>
                                  </figure>
                                </div>
                                <div class="vc_custom_heading"><h3
                                    style="font-size: 15px;color: #000000;line-height: 1;text-align: center"
                                  >MULTIPLE RIP SAWS</h3></div></div></div></div><div
                            class="wpb_column vc_column_container vc_col-sm-2"
                          ><div class="vc_column-inner"><div
                                class="wpb_wrapper"
                              >
                                <div
                                  class="wpb_single_image wpb_content_element vc_align_center wpb_animate_when_almost_visible wpb_left-to-right left-to-right icon wpb_start_animation animated"
                                >

                                  <figure class="wpb_wrapper vc_figure">
                                    <a
                                      href="/our-services"
                                      target="_self"
                                      class="vc_single_image-wrapper vc_box_border_grey"
                                    ><img
                                        width="65"
                                        height="65"
                                        src="https://www.jlm.com.pt/wp-content/uploads/2015/08/secagem.png"
                                        class="vc_single_image-img attachment-full"
                                        alt="José Luís Madeiras - Excelência em madeira"
                                        loading="lazy"
                                        title="secagem"
                                      /></a>
                                  </figure>
                                </div>
                                <div class="vc_custom_heading"><h3
                                    style="font-size: 15px;color: #000000;line-height: 1;text-align: center"
                                  >DRYING</h3></div></div></div></div><div
                            class="wpb_column vc_column_container vc_col-sm-2"
                          ><div class="vc_column-inner"><div
                                class="wpb_wrapper"
                              >
                                <div
                                  class="wpb_single_image wpb_content_element vc_align_center wpb_animate_when_almost_visible wpb_left-to-right left-to-right icon wpb_start_animation animated"
                                >

                                  <figure class="wpb_wrapper vc_figure">
                                    <a
                                      href="/our-services"
                                      target="_self"
                                      class="vc_single_image-wrapper vc_box_border_grey"
                                    ><img
                                        width="65"
                                        height="65"
                                        src="https://www.jlm.com.pt/wp-content/uploads/2015/08/armazenamento.png"
                                        class="vc_single_image-img attachment-full"
                                        alt="José Luís Madeiras - Excelência em madeira"
                                        loading="lazy"
                                        title="armazenamento"
                                      /></a>
                                  </figure>
                                </div>
                                <div class="vc_custom_heading"><h3
                                    style="font-size: 15px;color: #000000;line-height: 1;text-align: center"
                                  >STORAGE</h3></div></div></div></div><div
                            class="wpb_column vc_column_container vc_col-sm-2"
                          ><div class="vc_column-inner"><div
                                class="wpb_wrapper"
                              >
                                <div
                                  class="wpb_single_image wpb_content_element vc_align_center wpb_animate_when_almost_visible wpb_left-to-right left-to-right icon wpb_start_animation animated"
                                >

                                  <figure class="wpb_wrapper vc_figure">
                                    <a
                                      href="/our-services"
                                      target="_self"
                                      class="vc_single_image-wrapper vc_box_border_grey"
                                    ><img
                                        width="65"
                                        height="65"
                                        src="https://www.jlm.com.pt/wp-content/uploads/2015/08/distribuicao.png"
                                        class="vc_single_image-img attachment-full"
                                        alt="José Luís Madeiras - Excelência em madeira"
                                        loading="lazy"
                                        title="distribuicao"
                                      /></a>
                                  </figure>
                                </div>
                                <div class="vc_custom_heading"><h3
                                    style="font-size: 15px;color: #000000;line-height: 1;text-align: center"
                                  >DISTRIBUTION</h3></div></div></div></div></div></div></div></div><div
                    class="vc_parallax-inner skrollable skrollable-before"
                    data-bottom-top="top: -50%;"
                    data-top-bottom="top: 0%;"
                    style="height: 150%; top: -50%;"
                  ></div></div><div class="vc_row-full-width vc_clearfix"></div>
              </section>
            </div>
            <!-- .entry-content -->
          </article><!-- #post-## -->
        </div>
      </div>
    </div>
  </div>
</div>