<div id="content" class="site-content">
  <div
    class="big-title"
    style="background-image: url('https://www.jlm.com.pt/wp-content/uploads/2015/08/contactos.jpg')"
  >
    <div class="container">
      <div class="row middle">
        <div class="col-md-8">
          <h1 class="entry-title" itemprop="headline">Contacts</h1>
          <h3>The company is situated in the North of Portugal, in Paços de
            Ferreira, 20 minutes from the city of Oporto, 30 minutes from
            Francisco Sá Carneiro Airport and 25 minutes from the port of
            Leixões.</h3>
        </div>
        <div class="col-md-4 end">
        </div>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="content">
          <article id="post-1151">
            <div class="entry-content">
              <section class="wpb-content-wrapper">
                <div class="vc_row-full-width vc_clearfix"></div><div
                  class="vc_row wpb_row vc_row-fluid"
                ><div class="wpb_column vc_column_container vc_col-sm-12"><div
                      class="vc_column-inner"
                    ><div class="wpb_wrapper"><div
                          class="vc_row wpb_row vc_inner vc_row-fluid"
                        ><div
                            class="wpb_column vc_column_container vc_col-sm-6"
                          ><div class="vc_column-inner"><div
                                class="wpb_wrapper"
                              ><div
                                  class="vc_separator wpb_content_element vc_separator_align_center vc_sep_width_100 vc_sep_pos_align_center vc_sep_color_grey vc_separator-has-text"
                                ><span
                                    class="vc_sep_holder vc_sep_holder_l"
                                  ><span class="vc_sep_line"></span></span><h4
                                  >Address</h4><span
                                    class="vc_sep_holder vc_sep_holder_r"
                                  ><span class="vc_sep_line"></span></span>
                                </div>
                                <div
                                  class="wpb_text_column wpb_content_element"
                                >
                                  <div class="wpb_wrapper">
                                    <p style="text-align: center;">Travessa S.
                                      Salvador N.º2<br />
                                      4590-867 Ferreira – Paços de Ferreira</p>

                                  </div>
                                </div>
                              </div></div></div><div
                            class="wpb_column vc_column_container vc_col-sm-6"
                          ><div class="vc_column-inner"><div
                                class="wpb_wrapper"
                              ><div
                                  class="vc_separator wpb_content_element vc_separator_align_center vc_sep_width_100 vc_sep_pos_align_center vc_sep_color_grey vc_separator-has-text"
                                ><span
                                    class="vc_sep_holder vc_sep_holder_l"
                                  ><span class="vc_sep_line"></span></span><h4
                                  >Phone</h4><span
                                    class="vc_sep_holder vc_sep_holder_r"
                                  ><span class="vc_sep_line"></span></span>
                                </div>
                                <div
                                  class="wpb_text_column wpb_content_element"
                                >
                                  <div class="wpb_wrapper">
                                    <p style="text-align: center;">Tlf.: +351
                                      961 837 057<br />
                                      Fax.: +351 300 609 076</p>

                                  </div>
                                </div>
                              </div></div></div></div></div></div></div></div><div
                  class="vc_row wpb_row vc_row-fluid"
                ><div class="wpb_column vc_column_container vc_col-sm-12"><div
                      class="vc_column-inner"
                    ><div class="wpb_wrapper"><div
                          class="vc_row wpb_row vc_inner vc_row-fluid"
                        ><div
                            class="wpb_column vc_column_container vc_col-sm-3"
                          ><div class="vc_column-inner"><div
                                class="wpb_wrapper"
                              ><div
                                  class="vc_separator wpb_content_element vc_separator_align_center vc_sep_width_100 vc_sep_pos_align_center vc_sep_color_grey vc_separator-has-text"
                                ><span
                                    class="vc_sep_holder vc_sep_holder_l"
                                  ><span class="vc_sep_line"></span></span><h4
                                  >Management</h4><span
                                    class="vc_sep_holder vc_sep_holder_r"
                                  ><span class="vc_sep_line"></span></span>
                                </div>
                                <div
                                  class="wpb_text_column wpb_content_element"
                                >
                                  <div class="wpb_wrapper">
                                    <p style="text-align: center;"><a
                                        href="mailto:geral@jlmpanel.com"
                                      >geral@jlmpanel.com</a></p>

                                  </div>
                                </div>
                              </div></div></div><div
                            class="wpb_column vc_column_container vc_col-sm-3"
                          ><div class="vc_column-inner"><div
                                class="wpb_wrapper"
                              ><div
                                  class="vc_separator wpb_content_element vc_separator_align_center vc_sep_width_100 vc_sep_pos_align_center vc_sep_color_grey vc_separator-has-text"
                                ><span
                                    class="vc_sep_holder vc_sep_holder_l"
                                  ><span class="vc_sep_line"></span></span><h4
                                  >Quality Depart.</h4><span
                                    class="vc_sep_holder vc_sep_holder_r"
                                  ><span class="vc_sep_line"></span></span>
                                </div>
                                <div
                                  class="wpb_text_column wpb_content_element"
                                >
                                  <div class="wpb_wrapper">
                                    <p style="text-align: center;"><a
                                        href="mailto:teresa.silva@jlmpanel.com"
                                      >teresa.silva@jlmpanel.com</a></p>

                                  </div>
                                </div>
                              </div></div></div><div
                            class="wpb_column vc_column_container vc_col-sm-3"
                          ><div class="vc_column-inner"><div
                                class="wpb_wrapper"
                              ><div
                                  class="vc_separator wpb_content_element vc_separator_align_center vc_sep_width_100 vc_sep_pos_align_center vc_sep_color_grey vc_separator-has-text"
                                ><span
                                    class="vc_sep_holder vc_sep_holder_l"
                                  ><span class="vc_sep_line"></span></span><h4
                                  >Comercial Depart.</h4><span
                                    class="vc_sep_holder vc_sep_holder_r"
                                  ><span class="vc_sep_line"></span></span>
                                </div>
                                <div
                                  class="wpb_text_column wpb_content_element"
                                >
                                  <div class="wpb_wrapper">
                                    <div
                                      class="wpb_text_column wpb_content_element"
                                    >
                                      <div class="wpb_wrapper">
                                        <p style="text-align: center;"><a
                                            href="mailto:jose.migueldasilva@jlmpanel.com"
                                          >jose.migueldasilva@jlmpanel.com</a></p>
                                      </div>
                                    </div>

                                  </div>
                                </div>
                              </div></div></div><div
                            class="wpb_column vc_column_container vc_col-sm-3"
                          ><div class="vc_column-inner"><div
                                class="wpb_wrapper"
                              ><div
                                  class="vc_separator wpb_content_element vc_separator_align_center vc_sep_width_100 vc_sep_pos_align_center vc_sep_color_grey vc_separator-has-text"
                                ><span
                                    class="vc_sep_holder vc_sep_holder_l"
                                  ><span class="vc_sep_line"></span></span><h4
                                  >Financial Depart.</h4><span
                                    class="vc_sep_holder vc_sep_holder_r"
                                  ><span class="vc_sep_line"></span></span>
                                </div>
                                <div
                                  class="wpb_text_column wpb_content_element"
                                >
                                  <div class="wpb_wrapper">
                                    <p style="text-align: center;"><a
                                        href="mailto:elisabete.silva@jlmpanel.com"
                                      >lurdes.castro@jlmpanel.com</a></p>

                                  </div>
                                </div>
                              </div></div></div></div></div></div></div></div><div
                  class="vc_row wpb_row vc_row-fluid"
                ><div class="wpb_column vc_column_container vc_col-sm-12"><div
                      class="vc_column-inner"
                    ><div class="wpb_wrapper"><div
                          class="vc_separator wpb_content_element vc_separator_align_center vc_sep_width_100 vc_sep_pos_align_center vc_separator_no_text vc_sep_color_grey"
                        ><span class="vc_sep_holder vc_sep_holder_l"><span
                              class="vc_sep_line"
                            ></span></span><span
                            class="vc_sep_holder vc_sep_holder_r"
                          ><span class="vc_sep_line"></span></span>
                        </div><div
                          role="form"
                          class="wpcf7"
                          id="wpcf7-f1174-p1151-o1"
                          lang="en-US"
                          dir="ltr"
                        >
                          <div class="screen-reader-response"><p
                              role="status"
                              aria-live="polite"
                              aria-atomic="true"
                            ></p>
                            <ul></ul></div>
                          <form
                            id="contact-form"
                            class="wpcf7-form init"
                            data-status="init"
                          >
                            <div class="row">
                              <div class="col-md-3">
                                <div><span
                                    class="wpcf7-form-control-wrap your-name"
                                  ><input
                                      required
                                      type="text"
                                      name="name"
                                      value=""
                                      size="40"
                                      class="wpcf7-form-control wpcf7-text wpcf7-validates-as-required"
                                      aria-required="true"
                                      aria-invalid="false"
                                      placeholder="Your name*"
                                    /></span></div>
                                <div><span
                                    class="wpcf7-form-control-wrap your-address"
                                  ><input
                                      required
                                      type="text"
                                      name="location"
                                      value=""
                                      size="40"
                                      class="wpcf7-form-control wpcf7-text wpcf7-validates-as-required"
                                      aria-required="true"
                                      aria-invalid="false"
                                      placeholder="Address*"
                                    /></span></div>
                              </div>
                              <div class="col-md-3">
                                <div><span
                                    class="wpcf7-form-control-wrap your-email"
                                  ><input
                                      required
                                      type="email"
                                      name="email"
                                      value=""
                                      size="40"
                                      class="wpcf7-form-control wpcf7-text wpcf7-email wpcf7-validates-as-required wpcf7-validates-as-email"
                                      aria-required="true"
                                      aria-invalid="false"
                                      placeholder="Email*"
                                    /></span></div>
                                <div><span
                                    class="wpcf7-form-control-wrap subject"
                                  ><input
                                      type="text"
                                      name="subject"
                                      value=""
                                      size="40"
                                      class="wpcf7-form-control wpcf7-text wpcf7-validates-as-required"
                                      aria-required="true"
                                      aria-invalid="false"
                                      placeholder="Subject"
                                    /></span></div>
                              </div>
                              <div class="col-md-6">
                                <div><span
                                    class="wpcf7-form-control-wrap your-message"
                                  ><textarea
                                      required
                                      name="message"
                                      cols="40"
                                      rows="10"
                                      class="wpcf7-form-control wpcf7-textarea"
                                      aria-invalid="false"
                                      placeholder="Message*"
                                    ></textarea></span></div>
                                <div>

                                </div>
                                <div
                                  style="display:flex; align-items:center; gap:4px"
                                ><input
                                    type="submit"
                                    value="Submit"
                                    class="wpcf7-form-control has-spinner wpcf7-submit"
                                  />
                                  <img
                                    class="hidden"
                                    src="/loading.gif"
                                    alt="Loading..."
                                    style="width: 32px;"
                                    id="loading-elt"
                                  />
                                </div>
                              </div>
                            </div>
                            <div
                              class="wpcf7-response-output"
                              aria-hidden="true"
                            ></div></form></div>
                        <div
                          style="color: green;"
                          id="success-alert"
                          class="alert-msg hidden"
                        >
                          <i class="fa fa-check-circle"></i>
                          Message successfully sent!</div>
                        <div
                          style="color: red;"
                          id="error-alert"
                          class="alert-msg hidden"
                        >
                          <i class="fa fa-warning"></i>
                          An error occured. Please try again later!</div>
                        <div class="vc_empty_space" style="height: 32px"><span
                            class="vc_empty_space_inner"
                          ></span></div></div></div></div></div>
              </section>
            </div>
            <!-- .entry-content -->
          </article><!-- #post-## -->
        </div>
      </div>
    </div>
  </div>
</div>

webmail: link: https://server340.web-hosting.com:2096 email: geral@jlmpanel.com
pass: !QAZxcvbnm,./ webmail: link: https://server340.web-hosting.com:2096 email:
jose.migueldasilva@jlmpanel.com pass: !QAZxcvbnm,./