<div id="content" class="site-content">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="content">
          <article id="post-1076">
            <div class="entry-content">
              <section class="wpb-content-wrapper"><div
                  data-vc-full-width="true"
                  data-vc-full-width-init="false"
                  data-vc-stretch-content="true"
                  class="vc_row wpb_row vc_row-fluid vc_custom_1438158225152 vc_row-no-padding"
                ><div class="wpb_column vc_column_container vc_col-sm-12"><div
                      class="vc_column-inner"
                    ><div class="wpb_wrapper"><div
                          class="wpb_revslider_element wpb_content_element"
                        >
                          <!-- START slider01_en REVOLUTION SLIDER 6.6.14 --><p
                            class="rs-p-wp-fix"
                          ></p>
                          <rs-module-wrap
                            id="rev_slider_4_1_wrapper"
                            data-source="gallery"
                            style="visibility:hidden;background:#807752;padding:0;margin:0px auto;margin-top:0;margin-bottom:0;"
                          >
                            <rs-module
                              id="rev_slider_4_1"
                              style=""
                              data-version="6.6.14"
                            >
                              <rs-slides
                                style="overflow: hidden; position: absolute;"
                              >
                                <rs-slide
                                  style="position: absolute;"
                                  data-key="rs-13"
                                  data-title="Slide"
                                  data-in="o:1;x:-100%;"
                                  data-out="x:60%;"
                                >
                                  <img
                                    src="//www.jlm.com.pt/wp-content/plugins/revslider/public/assets/assets/dummy.png"
                                    alt="José Luís Madeiras - Excelência em madeira"
                                    title="José Luís Madeiras &#8211; Excelência em madeira"
                                    width="1920"
                                    height="680"
                                    class="rev-slidebg tp-rs-img rs-lazyload"
                                    data-lazyload="//www.jlm.com.pt/wp-content/uploads/2023/07/jose-luis-madeiras-excelencia-em-madeira-2.webp"
                                    data-parallax="10"
                                    data-no-retina
                                  />
                                  <!--
							--><rs-layer
                                    id="slider-4-slide-13-layer-4"
                                    class="TM-Text-01"
                                    data-type="text"
                                    data-color="rgba(255,255,255,1)"
                                    data-tsh="c:#000000;h:5px;v:5px;b:7px;"
                                    data-rsp_ch="on"
                                    data-xy="x:c,c,c,l;xo:-160px,-160px,-160px,982px;y:m,m,m,t;yo:-35px,-35px,-35px,285px;"
                                    data-text="w:normal,normal,normal,nowrap;s:85,85,85,60;l:60;ls:2px;fw:700;"
                                    data-dim="w:607px,607px,607px,auto;h:61px,61px,61px,auto;"
                                    data-vbility="t,t,t,f"
                                    data-frame_0="x:right;o:1;skX:-85px;"
                                    data-frame_1="e:power4.inOut;st:1920;sp:1000;"
                                    data-frame_999="o:0;e:nothing;st:w;"
                                    style="z-index:8;font-family:'Arial';"
                                  >EXCELLENCE
                                  </rs-layer><!--

							--><rs-layer
                                    id="slider-4-slide-13-layer-5"
                                    class="TM-Text-01"
                                    data-type="text"
                                    data-color="rgba(255,255,255,1)"
                                    data-tsh="c:#000000;h:5px;v:5px;b:7px;"
                                    data-rsp_ch="on"
                                    data-xy="x:c,c,c,l;xo:-253px,-253px,-253px,982px;yo:364px,364px,364px,349px;"
                                    data-text="s:85,85,85,60;l:60;ls:2px;fw:700;"
                                    data-dim="w:411px,411px,411px,auto;"
                                    data-vbility="t,t,t,f"
                                    data-frame_0="y:50px;"
                                    data-frame_1="e:power4.inOut;st:2780;sp:1000;"
                                    data-frame_999="o:0;e:nothing;st:w;"
                                    style="z-index:7;font-family:'Arial';"
                                  >IN WOOD
                                  </rs-layer><!--
-->
                                </rs-slide>
                                <rs-slide
                                  style="position: absolute;"
                                  data-key="rs-17"
                                  data-title="Slide"
                                  data-in="o:1;x:-100%;"
                                  data-out="x:60%;"
                                >
                                  <img
                                    src="//www.jlm.com.pt/wp-content/plugins/revslider/public/assets/assets/dummy.png"
                                    alt="José Luís Madeiras - Excelência em madeira"
                                    title="José Luís Madeiras &#8211; Excelência em madeira"
                                    width="1920"
                                    height="680"
                                    class="rev-slidebg tp-rs-img rs-lazyload"
                                    data-lazyload="//www.jlm.com.pt/wp-content/uploads/2023/07/jose-luis-madeiras-excelencia-em-madeira-1.webp"
                                    data-parallax="9"
                                    data-no-retina
                                  />
                                  <!---->
                                </rs-slide>
                                <rs-slide
                                  style="position: absolute;"
                                  data-key="rs-16"
                                  data-title="Slide"
                                  data-in="o:1;x:-100%;"
                                  data-out="x:60%;"
                                >
                                  <img
                                    src="//www.jlm.com.pt/wp-content/plugins/revslider/public/assets/assets/dummy.png"
                                    alt="José Luís Madeiras - Excelência em madeira"
                                    title="José Luís Madeiras &#8211; Excelência em madeira"
                                    width="1920"
                                    height="680"
                                    class="rev-slidebg tp-rs-img rs-lazyload"
                                    data-lazyload="//www.jlm.com.pt/wp-content/uploads/2023/07/jose-luis-madeiras-excelencia-em-madeira.webp"
                                    data-parallax="10"
                                    data-no-retina
                                  />
                                  <!---->
                                </rs-slide>
                              </rs-slides>
                            </rs-module>
                            <script>
                              setREVStartSize({c:
                              'rev_slider_4_1',rl:[1240,1240,1240,480],el:[680,680,680,720],gw:[1920,1920,1920,480],gh:[680,680,680,720],type:'standard',justify:'',layout:'fullwidth',mh:"0"});if
                              (window.RS_MODULES!==undefined &&
                              window.RS_MODULES.modules!==undefined &&
                              window.RS_MODULES.modules["revslider41"]!==undefined)
                              {window.RS_MODULES.modules["revslider41"].once =
                              false;window.revapi4 = undefined;if
                              (window.RS_MODULES.checkMinimal!==undefined)
                              window.RS_MODULES.checkMinimal()}
                            </script>
                          </rs-module-wrap>
                          <!-- END REVOLUTION SLIDER -->
                        </div></div></div></div></div><div
                  class="vc_row-full-width vc_clearfix"
                ></div><div
                  class="vc_row wpb_row vc_row-fluid vc_custom_1438160174654"
                ><div class="wpb_column vc_column_container vc_col-sm-7"><div
                      class="vc_column-inner vc_custom_1438933428760"
                    ><div class="wpb_wrapper"><div
                          class="vc_custom_heading vc_custom_1468415566097"
                        ><h2
                            style="font-size: 30px;color: #333333;text-align: left"
                          >EXCELLENCE IN WOOD</h2></div><div
                          class="vc_row wpb_row vc_inner vc_row-fluid"
                        ><div
                            class="wpb_column vc_column_container vc_col-sm-3"
                          ><div class="vc_column-inner"><div
                                class="wpb_wrapper"
                              >
                                <div
                                  class="wpb_single_image wpb_content_element vc_align_left"
                                >

                                  <figure class="wpb_wrapper vc_figure">
                                    <div
                                      class="vc_single_image-wrapper vc_box_border_grey"
                                    ><img
                                        width="150"
                                        height="175"
                                        src="https://www.jlm.com.pt/wp-content/uploads/2016/03/LOGO_JOSELUISMADEIRAS.png"
                                        class="vc_single_image-img attachment-full"
                                        alt="LOGO_JOSELUISMADEIRAS"
                                        loading="lazy"
                                        title="LOGO_JOSELUISMADEIRAS"
                                      /></div>
                                  </figure>
                                </div>
                              </div></div></div><div
                            class="wpb_column vc_column_container vc_col-sm-9"
                          ><div class="vc_column-inner"><div
                                class="wpb_wrapper"
                              >
                                <div
                                  class="wpb_text_column wpb_content_element grey"
                                >
                                  <div class="wpb_wrapper">
                                    <p><strong>José Luis Madeiras </strong>
                                      began as a family business and with
                                      determination and dedication grew
                                      proportionately until today, now, we can
                                      state that it is a company with global
                                      presence, and strong export ability. This
                                      change represents a natural evolution of
                                      our brand, keeping it´s original essence
                                      in processing and trade of wood, keeping a
                                      high level product and service provided.</p>
                                    <p>This new image, more suburban business
                                      district, stronger and more dynamic,
                                      represents the determination and the
                                      excellence of the company, accompanied by
                                      the relationship of commitment and
                                      confidence with business partners.</p>
                                    <p><strong>José Luís Madeiras</strong>
                                      philosophy expresses our closeness to our
                                      partners, customers and suppliers. This
                                      concept reflects the competence and daily
                                      commitment of our team to achieve goals
                                      and respond with excellence to the needs
                                      and the challenges present and future. We
                                      are a company that has grown in a
                                      sustained way, that we interpret the
                                      global market tendencies, we respect the
                                      policies of environmental sustainability
                                      and helped customer to create new and
                                      inovating products.</p>

                                  </div>
                                </div>
                              </div></div></div></div></div></div></div><div
                    class="tm_quick_quote wpb_column vc_column_container vc_col-sm-5 vc_col-has-fill"
                  ><div class="vc_column-inner vc_custom_1440646114816"><div
                        class="wpb_wrapper"
                      ><div
                          class="vc_custom_heading vc_custom_1468425846700"
                        ><h2
                            style="font-size: 24px;color: #ffffff;line-height: 1;text-align: center"
                          >CONTACT US</h2></div><div
                          role="form"
                          class="wpcf7"
                          id="wpcf7-f1176-p1076-o1"
                          lang="en-US"
                          dir="ltr"
                        >
                          <div class="screen-reader-response"><p
                              role="status"
                              aria-live="polite"
                              aria-atomic="true"
                            ></p>
                            <ul></ul></div>
                          <form
                            action="/jlm-en/#wpcf7-f1176-p1076-o1"
                            method="post"
                            class="wpcf7-form init"
                            novalidate="novalidate"
                            data-status="init"
                          >
                            <div style="display: none;">
                              <input type="hidden" name="_wpcf7" value="1176" />
                              <input
                                type="hidden"
                                name="_wpcf7_version"
                                value="5.5.6.1"
                              />
                              <input
                                type="hidden"
                                name="_wpcf7_locale"
                                value="en_US"
                              />
                              <input
                                type="hidden"
                                name="_wpcf7_unit_tag"
                                value="wpcf7-f1176-p1076-o1"
                              />
                              <input
                                type="hidden"
                                name="_wpcf7_container_post"
                                value="1076"
                              />
                              <input
                                type="hidden"
                                name="_wpcf7_posted_data_hash"
                                value=""
                              />
                              <input
                                type="hidden"
                                name="_wpcf7_recaptcha_response"
                                value=""
                              />
                            </div>
                            <div><span
                                class="wpcf7-form-control-wrap your-name"
                              ><input
                                  type="text"
                                  name="your-name"
                                  value=""
                                  size="40"
                                  class="wpcf7-form-control wpcf7-text wpcf7-validates-as-required"
                                  aria-required="true"
                                  aria-invalid="false"
                                  placeholder="Your name"
                                /></span></div>
                            <div><span
                                class="wpcf7-form-control-wrap your-email"
                              ><input
                                  type="email"
                                  name="your-email"
                                  value=""
                                  size="40"
                                  class="wpcf7-form-control wpcf7-text wpcf7-email wpcf7-validates-as-required wpcf7-validates-as-email"
                                  aria-required="true"
                                  aria-invalid="false"
                                  placeholder="Your email"
                                /></span></div>
                            <div><span
                                class="wpcf7-form-control-wrap your-message"
                              ><textarea
                                  name="your-message"
                                  cols="40"
                                  rows="10"
                                  class="wpcf7-form-control wpcf7-textarea"
                                  aria-invalid="false"
                                  placeholder="Your message"
                                ></textarea></span></div>
                            <div></div>
                            <div><input
                                type="submit"
                                value="Submit"
                                class="wpcf7-form-control has-spinner wpcf7-submit"
                              /></div>
                            <div
                              class="wpcf7-response-output"
                              aria-hidden="true"
                            ></div></form></div></div></div></div></div><div
                  data-vc-full-width="true"
                  data-vc-full-width-init="false"
                  data-vc-parallax="1.5"
                  class="vc_row wpb_row vc_row-fluid vc_custom_1590835343304 vc_row-has-fill vc_general vc_parallax vc_parallax-content-moving"
                ><div class="wpb_column vc_column_container vc_col-sm-12"><div
                      class="vc_column-inner"
                    ><div class="wpb_wrapper"><div
                          class="vc_custom_heading style1 vc_custom_1590835811440"
                        ><h2
                            style="font-size: 30px;color: #584632;text-align: left"
                          >OUR SERVICES</h2></div><div
                          class="vc_row wpb_row vc_inner vc_row-fluid"
                        ><div
                            class="wpb_column vc_column_container vc_col-sm-2"
                          ><div class="vc_column-inner"><div
                                class="wpb_wrapper"
                              >
                                <div
                                  class="wpb_single_image wpb_content_element vc_align_center wpb_animate_when_almost_visible wpb_left-to-right left-to-right vc_custom_1590835998076 icon"
                                >

                                  <figure class="wpb_wrapper vc_figure">
                                    <a
                                      href="/our-services/"
                                      target="_self"
                                      class="vc_single_image-wrapper vc_box_border_grey"
                                    ><img
                                        width="65"
                                        height="65"
                                        src="https://www.jlm.com.pt/wp-content/uploads/2020/05/corte.png"
                                        class="vc_single_image-img attachment-full"
                                        alt="José Luís Madeiras - Excelência em madeira"
                                        loading="lazy"
                                        title="corte"
                                      /></a>
                                  </figure>
                                </div>
                                <div
                                  class="vc_custom_heading vc_custom_1590835570174"
                                ><h3
                                    style="font-size: 15px;color: #333333;line-height: 1;text-align: center"
                                  >CUTTING</h3></div></div></div></div><div
                            class="wpb_column vc_column_container vc_col-sm-2"
                          ><div class="vc_column-inner"><div
                                class="wpb_wrapper"
                              >
                                <div
                                  class="wpb_single_image wpb_content_element vc_align_center wpb_animate_when_almost_visible wpb_left-to-right left-to-right vc_custom_1590836006322 icon"
                                >

                                  <figure class="wpb_wrapper vc_figure">
                                    <a
                                      href="/our-services/"
                                      target="_self"
                                      class="vc_single_image-wrapper vc_box_border_grey"
                                    ><img
                                        width="65"
                                        height="65"
                                        src="https://www.jlm.com.pt/wp-content/uploads/2020/05/descasca_2020-2.png"
                                        class="vc_single_image-img attachment-full"
                                        alt="José Luís Madeiras - Excelência em madeira"
                                        loading="lazy"
                                        title="descasca_2020"
                                      /></a>
                                  </figure>
                                </div>
                                <div
                                  class="vc_custom_heading vc_custom_1590835664933"
                                ><h3
                                    style="font-size: 15px;color: #333333;line-height: 1;text-align: center"
                                  >DEBARKING SERVICES</h3></div></div></div></div><div
                            class="wpb_column vc_column_container vc_col-sm-2"
                          ><div class="vc_column-inner"><div
                                class="wpb_wrapper"
                              >
                                <div
                                  class="wpb_single_image wpb_content_element vc_align_center wpb_animate_when_almost_visible wpb_right-to-left right-to-left vc_custom_1590836033192 icon"
                                >

                                  <figure class="wpb_wrapper vc_figure">
                                    <a
                                      href="/our-services/"
                                      target="_self"
                                      class="vc_single_image-wrapper vc_box_border_grey"
                                    ><img
                                        width="65"
                                        height="65"
                                        src="https://www.jlm.com.pt/wp-content/uploads/2020/05/alinhadeira_2020-2.png"
                                        class="vc_single_image-img attachment-full"
                                        alt="José Luís Madeiras - Excelência em madeira"
                                        loading="lazy"
                                        title="alinhadeira_2020"
                                      /></a>
                                  </figure>
                                </div>
                                <div
                                  class="vc_custom_heading vc_custom_1590835749748"
                                ><h3
                                    style="font-size: 15px;color: #333333;line-height: 1;text-align: center"
                                  >MULTIPLE RIP SAWS</h3></div></div></div></div><div
                            class="wpb_column vc_column_container vc_col-sm-2"
                          ><div class="vc_column-inner"><div
                                class="wpb_wrapper"
                              >
                                <div
                                  class="wpb_single_image wpb_content_element vc_align_center wpb_animate_when_almost_visible wpb_right-to-left right-to-left vc_custom_1590836040493 icon"
                                >

                                  <figure class="wpb_wrapper vc_figure">
                                    <a
                                      href="/our-services/"
                                      target="_self"
                                      class="vc_single_image-wrapper vc_box_border_grey"
                                    ><img
                                        width="65"
                                        height="65"
                                        src="https://www.jlm.com.pt/wp-content/uploads/2020/05/secagem.png"
                                        class="vc_single_image-img attachment-full"
                                        alt="José Luís Madeiras - Excelência em madeira"
                                        loading="lazy"
                                        title="secagem"
                                      /></a>
                                  </figure>
                                </div>
                                <div
                                  class="vc_custom_heading vc_custom_1590835754845"
                                ><h3
                                    style="font-size: 15px;color: #333333;line-height: 1;text-align: center"
                                  >DRYING</h3></div></div></div></div><div
                            class="wpb_column vc_column_container vc_col-sm-2"
                          ><div class="vc_column-inner"><div
                                class="wpb_wrapper"
                              >
                                <div
                                  class="wpb_single_image wpb_content_element vc_align_center wpb_animate_when_almost_visible wpb_right-to-left right-to-left vc_custom_1590836051250 icon"
                                >

                                  <figure class="wpb_wrapper vc_figure">
                                    <a
                                      href="/our-services/"
                                      target="_self"
                                      class="vc_single_image-wrapper vc_box_border_grey"
                                    ><img
                                        width="65"
                                        height="65"
                                        src="https://www.jlm.com.pt/wp-content/uploads/2020/05/armazenamento.png"
                                        class="vc_single_image-img attachment-full"
                                        alt="José Luís Madeiras - Excelência em madeira"
                                        loading="lazy"
                                        title="armazenamento"
                                      /></a>
                                  </figure>
                                </div>
                                <div
                                  class="vc_custom_heading vc_custom_1468415723056"
                                ><h3
                                    style="font-size: 15px;color: #333333;line-height: 1;text-align: center"
                                  >STORAGE</h3></div></div></div></div><div
                            class="wpb_column vc_column_container vc_col-sm-2"
                          ><div class="vc_column-inner"><div
                                class="wpb_wrapper"
                              >
                                <div
                                  class="wpb_single_image wpb_content_element vc_align_center wpb_animate_when_almost_visible wpb_right-to-left right-to-left vc_custom_1590836065508 icon"
                                >

                                  <figure class="wpb_wrapper vc_figure">
                                    <a
                                      href="/our-services/"
                                      target="_self"
                                      class="vc_single_image-wrapper vc_box_border_grey"
                                    ><img
                                        width="65"
                                        height="65"
                                        src="https://www.jlm.com.pt/wp-content/uploads/2020/05/distribuicao.png"
                                        class="vc_single_image-img attachment-full"
                                        alt="José Luís Madeiras - Excelência em madeira"
                                        loading="lazy"
                                        title="distribuicao"
                                      /></a>
                                  </figure>
                                </div>
                                <div
                                  class="vc_custom_heading vc_custom_1590835760333"
                                ><h3
                                    style="font-size: 15px;color: #333333;line-height: 1;text-align: center"
                                  >DISTRIBUTION</h3></div></div></div></div></div></div></div></div></div><div
                  class="vc_row-full-width vc_clearfix"
                ></div><div
                  data-vc-full-width="true"
                  data-vc-full-width-init="false"
                  class="vc_row wpb_row vc_row-fluid vc_custom_1458228554598 vc_row-has-fill"
                ><div
                    class="wpb_column vc_column_container vc_col-sm-7 vc_hidden-xs"
                  ><div class="vc_column-inner"><div class="wpb_wrapper">
                        <div
                          class="wpb_single_image wpb_content_element vc_align_left wpb_animate_when_almost_visible wpb_bottom-to-top bottom-to-top"
                        >

                          <figure class="wpb_wrapper vc_figure">
                            <div
                              class="vc_single_image-wrapper vc_box_border_grey"
                            ><img
                                width="800"
                                height="533"
                                src="https://www.jlm.com.pt/wp-content/uploads/2015/07/MG_7910.jpg"
                                class="vc_single_image-img attachment-full"
                                alt="José Luís Madeiras - Excelência em madeira"
                                loading="lazy"
                                title="José Luís Madeiras"
                              /></div>
                          </figure>
                        </div>
                      </div></div></div><div
                    class="wpb_column vc_column_container vc_col-sm-5"
                  ><div class="vc_column-inner"><div class="wpb_wrapper"><div
                          class="vc_custom_heading style2 vc_custom_1468415910992"
                        ><h2
                            style="font-size: 30px;color: #3e3024;text-align: left"
                          >EXCELLENCE IN WOOD</h2></div><div
                          class="vc_tta-container"
                          data-vc-action="collapse"
                        ><div
                            class="vc_general vc_tta vc_tta-accordion vc_tta-color-white vc_tta-style-classic vc_tta-shape-rounded vc_tta-o-shape-group vc_tta-controls-align-left"
                          ><div class="vc_tta-panels-container"><div
                                class="vc_tta-panels"
                              ><div
                                  class="vc_tta-panel vc_active"
                                  id="1438660913971-14d0eb85-96df"
                                  data-vc-content=".vc_tta-panel-body"
                                ><div class="vc_tta-panel-heading"><h4
                                      class="vc_tta-panel-title vc_tta-controls-icon-position-left"
                                    ><a
                                        href="#1438660913971-14d0eb85-96df"
                                        data-vc-accordion
                                        data-vc-container=".vc_tta-container"
                                      ><span
                                          class="vc_tta-title-text"
                                        >Mission</span><i
                                          class="vc_tta-controls-icon vc_tta-controls-icon-plus"
                                        ></i></a></h4></div><div
                                    class="vc_tta-panel-body"
                                  >
                                    <div
                                      class="wpb_text_column wpb_content_element grey"
                                    >
                                      <div class="wpb_wrapper">
                                        <p>Provide carefully chosen natural wood
                                          from the forest, while respecting
                                          their sustainability, seeking to meet
                                          the most demanding needs of customers
                                          and the ambitions of the stakeholders.</p>

                                      </div>
                                    </div>
                                  </div></div><div
                                  class="vc_tta-panel"
                                  id="1438660914005-f90e0993-93af"
                                  data-vc-content=".vc_tta-panel-body"
                                ><div class="vc_tta-panel-heading"><h4
                                      class="vc_tta-panel-title vc_tta-controls-icon-position-left"
                                    ><a
                                        href="#1438660914005-f90e0993-93af"
                                        data-vc-accordion
                                        data-vc-container=".vc_tta-container"
                                      ><span
                                          class="vc_tta-title-text"
                                        >Vision</span><i
                                          class="vc_tta-controls-icon vc_tta-controls-icon-plus"
                                        ></i></a></h4></div><div
                                    class="vc_tta-panel-body"
                                  >
                                    <div
                                      class="wpb_text_column wpb_content_element grey"
                                    >
                                      <div class="wpb_wrapper">
                                        <div class="slimScrollDiv">
                                          <div
                                            id="chatlist"
                                            class="mousescroll"
                                          >
                                            <div>
                                              <p>Making wood present and
                                                appreciated by society.</p>
                                            </div>
                                          </div>
                                        </div>

                                      </div>
                                    </div>
                                  </div></div><div
                                  class="vc_tta-panel"
                                  id="1438920079250-26111194-1011"
                                  data-vc-content=".vc_tta-panel-body"
                                ><div class="vc_tta-panel-heading"><h4
                                      class="vc_tta-panel-title vc_tta-controls-icon-position-left"
                                    ><a
                                        href="#1438920079250-26111194-1011"
                                        data-vc-accordion
                                        data-vc-container=".vc_tta-container"
                                      ><span class="vc_tta-title-text">PEFC
                                          (PEFC/13-31-064) e ISO 9001</span><i
                                          class="vc_tta-controls-icon vc_tta-controls-icon-plus"
                                        ></i></a></h4></div><div
                                    class="vc_tta-panel-body"
                                  >
                                    <div
                                      class="wpb_text_column wpb_content_element grey"
                                    >
                                      <div class="wpb_wrapper">
                                        <p><a
                                            href="https://www.jlm.com.pt/wp-content/uploads/2018/10/PEFC-1.pdf"
                                            target="_blank"
                                            rel="noopener noreferrer"
                                          >Certified by the PEFC ST 2002</a><br
                                          />
                                          <a
                                            href="https://www.jlm.com.pt/wp-content/uploads/2024/10/14-cep_-4668-jose-luis-madeiras-iqnet.pdf"
                                            target="_blank"
                                            rel="noopener noreferrer"
                                          >Certified by the NP EN ISO 9001</a></p>

                                      </div>
                                    </div>
                                  </div></div></div></div></div></div></div></div></div></div><div
                  class="vc_row-full-width vc_clearfix"
                ></div>
              </section>
            </div>
            <!-- .entry-content -->
          </article><!-- #post-## -->
        </div>
      </div>
    </div>
  </div>
</div>