<div id="content" class="site-content">
  <div
    class="big-title"
    style="background-image: url('https://www.jlm.com.pt/wp-content/uploads/2016/05/missao.jpg')"
  >
    <div class="container">
      <div class="row middle">
        <div class="col-md-8">
          <h1 class="entry-title" itemprop="headline">Brands</h1>
          <h3>Success is not built alone!</h3>
        </div>
        <div class="col-md-4 end">
        </div>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="content">
          <article id="post-1117">
            <div class="entry-content">
              <section class="wpb-content-wrapper"><div
                  class="vc_row wpb_row vc_row-fluid"
                ><div class="wpb_column vc_column_container vc_col-sm-12"><div
                      class="vc_column-inner"
                    ><div class="wpb_wrapper"><div
                          class="vc_custom_heading style2"
                        ><h2
                            style="font-size: 30px;color: #333333;text-align: left"
                          >Brands</h2></div></div></div></div></div><div
                  class="vc_row wpb_row vc_row-fluid vc_custom_1465338114078"
                ><div class="wpb_column vc_column_container vc_col-sm-6"><div
                      class="vc_column-inner"
                    ><div class="wpb_wrapper">
                        <div
                          class="wpb_single_image wpb_content_element vc_align_center"
                        >

                          <figure class="wpb_wrapper vc_figure">
                            <a
                              href="http://www.nuancehomedesign.pt/"
                              target="_blank"
                              class="vc_single_image-wrapper vc_box_border_grey"
                            ><img
                                width="200"
                                height="82"
                                src="https://www.jlm.com.pt/wp-content/uploads/2020/05/nuance.jpg"
                                class="vc_single_image-img attachment-full"
                                alt=""
                                loading="lazy"
                                title="nuance"
                              /></a>
                          </figure>
                        </div>
                      </div></div></div><div
                    class="wpb_column vc_column_container vc_col-sm-6"
                  ><div class="vc_column-inner"><div class="wpb_wrapper">
                        <div
                          class="wpb_single_image wpb_content_element vc_align_center"
                        >

                          <figure class="wpb_wrapper vc_figure">
                            <a
                              href="https://mercadodamadeira.pt/"
                              target="_blank"
                              class="vc_single_image-wrapper vc_box_border_grey"
                            ><img
                                width="300"
                                height="107"
                                src="https://www.jlm.com.pt/wp-content/uploads/2020/05/MM3-300x263-1.jpg"
                                class="vc_single_image-img attachment-full"
                                alt=""
                                loading="lazy"
                                title="MM3-300x263"
                              /></a>
                          </figure>
                        </div>
                      </div></div></div></div><div
                  data-vc-full-width="true"
                  data-vc-full-width-init="true"
                  data-vc-parallax="1.5"
                  class="vc_row wpb_row vc_row-fluid vc_custom_1600175074270 vc_row-has-fill vc_general vc_parallax vc_parallax-content-moving"
                  style="position: relative; left: -37.5px; box-sizing: border-box; width: 825px; max-width: 825px; padding-left: 37.5px; padding-right: 37.5px;"
                ><div class="wpb_column vc_column_container vc_col-sm-12"><div
                      class="vc_column-inner"
                    ><div class="wpb_wrapper"><div
                          class="vc_custom_heading style2"
                        ><h2
                            style="font-size: 30px;color: #333333;text-align: left"
                          >OUR SERVICES</h2></div><div
                          class="vc_row wpb_row vc_inner vc_row-fluid vc_custom_1440407217856"
                        ><div
                            class="wpb_column vc_column_container vc_col-sm-2"
                          ><div class="vc_column-inner"><div
                                class="wpb_wrapper"
                              >
                                <div
                                  class="wpb_single_image wpb_content_element vc_align_center wpb_animate_when_almost_visible wpb_left-to-right left-to-right icon wpb_start_animation animated"
                                >

                                  <figure class="wpb_wrapper vc_figure">
                                    <a
                                      href="/our-services"
                                      target="_self"
                                      class="vc_single_image-wrapper vc_box_border_grey"
                                    ><img
                                        width="65"
                                        height="65"
                                        src="https://www.jlm.com.pt/wp-content/uploads/2015/08/corte.png"
                                        class="vc_single_image-img attachment-full"
                                        alt="José Luís Madeiras - Excelência em madeira"
                                        loading="lazy"
                                        title="corte"
                                      /></a>
                                  </figure>
                                </div>
                                <div class="vc_custom_heading"><h3
                                    style="font-size: 15px;color: #000000;line-height: 1;text-align: center"
                                  >CUTTING</h3></div></div></div></div><div
                            class="wpb_column vc_column_container vc_col-sm-2"
                          ><div class="vc_column-inner"><div
                                class="wpb_wrapper"
                              >
                                <div
                                  class="wpb_single_image wpb_content_element vc_align_center wpb_animate_when_almost_visible wpb_left-to-right left-to-right icon wpb_start_animation animated"
                                >

                                  <figure class="wpb_wrapper vc_figure">
                                    <a
                                      href="/our-services"
                                      target="_self"
                                      class="vc_single_image-wrapper vc_box_border_grey"
                                    ><img
                                        width="65"
                                        height="65"
                                        src="https://www.jlm.com.pt/wp-content/uploads/2020/05/descasca_2020-2.png"
                                        class="vc_single_image-img attachment-full"
                                        alt="José Luís Madeiras - Excelência em madeira"
                                        loading="lazy"
                                        title="descasca_2020"
                                      /></a>
                                  </figure>
                                </div>
                                <div class="vc_custom_heading"><h3
                                    style="font-size: 15px;color: #000000;line-height: 1;text-align: center"
                                  >DEBARKING SERVICES</h3></div></div></div></div><div
                            class="wpb_column vc_column_container vc_col-sm-2"
                          ><div class="vc_column-inner"><div
                                class="wpb_wrapper"
                              >
                                <div
                                  class="wpb_single_image wpb_content_element vc_align_center wpb_animate_when_almost_visible wpb_left-to-right left-to-right icon wpb_start_animation animated"
                                >

                                  <figure class="wpb_wrapper vc_figure">
                                    <a
                                      href="/our-services"
                                      target="_self"
                                      class="vc_single_image-wrapper vc_box_border_grey"
                                    ><img
                                        width="65"
                                        height="65"
                                        src="https://www.jlm.com.pt/wp-content/uploads/2020/05/alinhadeira_2020-2.png"
                                        class="vc_single_image-img attachment-full"
                                        alt="José Luís Madeiras - Excelência em madeira"
                                        loading="lazy"
                                        title="alinhadeira_2020"
                                      /></a>
                                  </figure>
                                </div>
                                <div class="vc_custom_heading"><h3
                                    style="font-size: 15px;color: #000000;line-height: 1;text-align: center"
                                  >MULTIPLE RIP SAWS</h3></div></div></div></div><div
                            class="wpb_column vc_column_container vc_col-sm-2"
                          ><div class="vc_column-inner"><div
                                class="wpb_wrapper"
                              >
                                <div
                                  class="wpb_single_image wpb_content_element vc_align_center wpb_animate_when_almost_visible wpb_left-to-right left-to-right icon wpb_start_animation animated"
                                >

                                  <figure class="wpb_wrapper vc_figure">
                                    <a
                                      href="/our-services"
                                      target="_self"
                                      class="vc_single_image-wrapper vc_box_border_grey"
                                    ><img
                                        width="65"
                                        height="65"
                                        src="https://www.jlm.com.pt/wp-content/uploads/2015/08/secagem.png"
                                        class="vc_single_image-img attachment-full"
                                        alt="José Luís Madeiras - Excelência em madeira"
                                        loading="lazy"
                                        title="secagem"
                                      /></a>
                                  </figure>
                                </div>
                                <div class="vc_custom_heading"><h3
                                    style="font-size: 15px;color: #000000;line-height: 1;text-align: center"
                                  >DRYING</h3></div></div></div></div><div
                            class="wpb_column vc_column_container vc_col-sm-2"
                          ><div class="vc_column-inner"><div
                                class="wpb_wrapper"
                              >
                                <div
                                  class="wpb_single_image wpb_content_element vc_align_center wpb_animate_when_almost_visible wpb_left-to-right left-to-right icon wpb_start_animation animated"
                                >

                                  <figure class="wpb_wrapper vc_figure">
                                    <a
                                      href="/our-services"
                                      target="_self"
                                      class="vc_single_image-wrapper vc_box_border_grey"
                                    ><img
                                        width="65"
                                        height="65"
                                        src="https://www.jlm.com.pt/wp-content/uploads/2015/08/armazenamento.png"
                                        class="vc_single_image-img attachment-full"
                                        alt="José Luís Madeiras - Excelência em madeira"
                                        loading="lazy"
                                        title="armazenamento"
                                      /></a>
                                  </figure>
                                </div>
                                <div class="vc_custom_heading"><h3
                                    style="font-size: 15px;color: #000000;line-height: 1;text-align: center"
                                  >STORAGE</h3></div></div></div></div><div
                            class="wpb_column vc_column_container vc_col-sm-2"
                          ><div class="vc_column-inner"><div
                                class="wpb_wrapper"
                              >
                                <div
                                  class="wpb_single_image wpb_content_element vc_align_center wpb_animate_when_almost_visible wpb_left-to-right left-to-right icon wpb_start_animation animated"
                                >

                                  <figure class="wpb_wrapper vc_figure">
                                    <a
                                      href="/our-services"
                                      target="_self"
                                      class="vc_single_image-wrapper vc_box_border_grey"
                                    ><img
                                        width="65"
                                        height="65"
                                        src="https://www.jlm.com.pt/wp-content/uploads/2015/08/distribuicao.png"
                                        class="vc_single_image-img attachment-full"
                                        alt="José Luís Madeiras - Excelência em madeira"
                                        loading="lazy"
                                        title="distribuicao"
                                      /></a>
                                  </figure>
                                </div>
                                <div class="vc_custom_heading"><h3
                                    style="font-size: 15px;color: #000000;line-height: 1;text-align: center"
                                  >DISTRIBUTION</h3></div></div></div></div></div></div></div></div><div
                    class="vc_parallax-inner skrollable skrollable-between"
                    data-bottom-top="top: -50%;"
                    data-top-bottom="top: 0%;"
                    style="height: 150%; top: -34.580351%;"
                  ></div></div><div
                  class="vc_row-full-width vc_clearfix"
                ></div><div class="vc_row wpb_row vc_row-fluid"><div
                    class="wpb_column vc_column_container vc_col-sm-12"
                  ><div class="vc_column-inner"><div class="wpb_wrapper"><div
                          class="vc_empty_space"
                          style="height: 32px"
                        ><span
                            class="vc_empty_space_inner"
                          ></span></div></div></div></div></div>
              </section>
            </div>
            <!-- .entry-content -->
          </article><!-- #post-## -->
        </div>
      </div>
    </div>
  </div>
</div>