.grid-masonry {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  grid-auto-rows: 10px;
  gap: 1rem;
}
.grid-item {
  overflow: hidden;
  position: relative;
}
.grid-item img {
  width: 100%;
  height: auto;
  display: block;
  transition: transform 0.3s ease;
}
.grid-item .grid-overlay {
  position: absolute;
  inset: 0;
  transition: transform 0.3s ease;
  background-color: #00000090;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-flow: column;
  padding: 20px;
  opacity: 0;
}
.grid-item .grid-overlay small {
  text-align: center;
  color: #aaa;
}
.grid-item .grid-overlay h3 {
  font-weight: 700;
  text-align: center;
  color: #ffffff;
}
.grid-item:hover .grid-overlay {
  opacity: 100;
}
.grid-item:hover img {
  transform: scale(2) rotate(15deg);
}
.alert-msg {
  font-weight: bold;
}
.hidden {
  display: none;
}
.site-top {
  background-color: #7e6d49 !important;
}

.copyright {
  background-color: #7e6d49 !important;
}

.site-content article {
  word-wrap: normal;
  -webkit-hyphens: none;
  -moz-hyphens: none;
  hyphens: none;
}

.widget-area .widget {
  word-wrap: normal;
  -webkit-hyphens: none;
  -moz-hyphens: none;
  hyphens: none;
}

.h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 0;
}

.tm_services .wpb_single_image {
  width: 160px;
  height: 160px;
}

.big-title {
  padding: 120px 0px 90px 0px;
}

.big-title,
.big-title--single {
  margin-bottom: 40px;
}

.site-header {
  background-color: #584632;
}

.entry-meta {
  display: none;
}

.entry-footer {
  display: none;
}

.big-title {
  padding: 100px 0px 100px 0px;
}
.site-top {
  background-color: #7e6d49 !important;
}
.copyright {
  background-color: #7e6d49 !important;
}
.site-content article {
  word-wrap: normal;
  -webkit-hyphens: none;
  -moz-hyphens: none;
  hyphens: none;
}
.widget-area .widget {
  word-wrap: normal;
  -webkit-hyphens: none;
  -moz-hyphens: none;
  hyphens: none;
}

.h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 0;
}
.tm_services .wpb_single_image {
  width: 160px;
  height: 160px;
}
.big-title {
  padding: 120px 0px 90px 0px;
}
.big-title,
.big-title--single {
  margin-bottom: 40px;
}
.site-header {
  background-color: #584632;
}
.entry-meta {
  display: none;
}
.entry-footer {
  display: none;
}
.big-title {
  padding: 100px 0px 100px 0px;
}
.site-branding {
  padding: 0px 0px 0px 0px;
}
article.post .read-more,
.dates,
.pagination span.current,
.big-title h3:after,
.big-title--single h3:after,
.tm_quick_quote .vc_custom_heading h2:before,
.vc_tta.vc_tta-accordion
  .vc_tta-controls-icon-position-left.vc_tta-panel-title
  .vc_tta-controls-icon,
.tm_services .wpb_single_image,
.vc_custom_heading.style4:after,
.vc_custom_heading.style3:after,
.vc_custom_heading.style2:after,
.vc_custom_heading.style1:after,
.widget-title:after {
  background-color: #7c6d4a;
}
.sidebar ul li:before,
.wpb_widgetised_column ul li:before,
.sidebar .recent-posts__item:before,
.wpb_widgetised_column .recent-posts__item:before,
.facts li:before,
.error404 .col-md-6 > div h2,
.list li:before {
  color: #7c6d4a;
}
.search-box input[type="search"],
.header02 .header-info i {
  border-color: #7c6d4a;
}
.header02 .header-info i:after {
  border-top-color: #7c6d4a;
}
.tp-caption span {
  color: #7c6d4a !important;
}
.tp-caption button {
  background-color: #7c6d4a !important;
}
.tm-skin .esg-filterbutton:before,
.tm-skin-2 .esg-filterbutton:before {
  border-top-color: #7c6d4a !important;
}
article.post .read-more:hover,
.tm-works-02:before,
.tm_testimonials_02:before,
.tm_counting:before,
.tm_services:before,
.site-footer:before {
  background-color: #7f7a69;
}
.thememove_testimonials .author span:first-child {
  color: #7f7a69;
}
a,
a:visited {
  color: #7c6d4a;
}
a:hover {
  color: #afa682;
}
.tm_bread_crumb a {
  color: #807752;
}
.tm_bread_crumb,
.tm_bread_crumb a:hover {
  color: #ffffff;
}
input,
textarea,
keygen,
select,
button,
.eg-tm-recent-posts-01-content,
body {
  font-family: Lato;
}
body {
  font-weight: 400;
  font-size: 14px;
  color: #000000;
}
.esg-filterbutton span,
.eg-tm-recent-posts-01-element-10-a,
button,
input[type="button"],
input[type="reset"],
input[type="submit"],
.vc_label,
.tp-caption.a1,
.t1,
.woocommerce div.product p.price del,
.woocommerce div.product span.price del,
.woocommerce ul.products li.product .price,
.widget_products,
.eg-infinity-members-element-0,
.wpb_widgetised_column .better-menu-widget ul li,
.sidebar .better-menu-widget ul li,
.pagination span,
.pagination a,
.hentry .read-more,
.post-thumb .date,
.thememove_testimonials .author span:first-child,
.wpb_accordion .wpb_accordion_wrapper .wpb_accordion_header a,
.recent-posts__item a,
.eg-infinity-features-element-0,
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: Montserrat;
}
.tp-caption,
.tp-caption button {
  font-family: Montserrat !important;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 700;
}
.sidebar .better-menu-widget ul li,
.wpb_widgetised_column .better-menu-widget ul li,
h1,
h2,
h3,
h4,
h5,
h6,
.eg-infinity-features-element-0 {
  letter-spacing: 0em;
}
h1,
h2,
h3,
h4 {
  color: #111111;
}
h1 {
  font-size: 28px;
}
h2 {
  font-size: 24px;
}
h3 {
  font-size: 20px;
}
h4 {
  font-size: 16px;
}
body.boxed {
  background-color: #999999;
}
#open-left {
  color: #ffffff;
}
#site-navigation {
  font-family: Montserrat;
  font-weight: 700;
  font-size: 14px;
}
#site-navigation .menu > ul > li > a,
#site-navigation .menu > li > a {
  color: #333333;
}
#site-navigation .menu > ul > li > a:hover,
#site-navigation .menu > li > a:hover {
  color: #c69453;
}
.header03 #site-navigation .menu > ul > li.current-menu-item a,
.header03 #site-navigation .menu > li.current-menu-item a,
.header03 #site-navigation .menu > ul > li:hover a,
.header03 #site-navigation .menu > li:hover a {
  border-color: #c69453;
}
#site-navigation .sub-menu,
#site-navigation .children {
  font-family: Montserrat;
  background-color: #c69453;
}
#site-navigation .sub-menu li a,
#site-navigation .children li a {
  font-weight: 400;
  font-size: 12px;
  color: #ffffff;
}
#site-navigation .sub-menu li a:hover,
#site-navigation .children li a:hover {
  color: #ffffff;
}
#site-navigation .sub-menu li,
#site-navigation .children li {
  padding: 10px 15px 15px 10px;
}
.main-navigation {
  background-color: #ffffff;
}
#site-navigation .menu > ul > li:after,
#site-navigation .menu > li:after {
  background-color: rgba(255, 255, 255, 0.2);
}
#site-navigation .sub-menu li {
  background-color: #c69453;
}
#site-navigation .sub-menu li:hover {
  background-color: #594431;
}
.vc_btn3-color-grey {
  font-family: Montserrat !important;
  font-size: 13 !important;
  font-weight: 700 !important;
  color: #ffffff !important;
  background-color: #c69453 !important;
}
.vc_btn3-color-grey:hover,
.vc_btn3-color-grey:focus {
  color: #ffffff !important;
  background-color: #7c6d4a !important;
}
button,
input[type="button"],
input[type="reset"],
input[type="submit"] {
  background-color: #c69453;
}
button,
input[type="button"]:hover,
input[type="reset"]:hover,
input[type="submit"]:hover {
  background-color: #7c6d4a;
}
.site-top {
  font-family: Lato;
  font-size: 14px;
  font-weight: 400;
  color: #ffffff;
  background-color: #c69453;
}
.site-top a {
  font-family: Montserrat;
  font-size: 14px;
  font-weight: 400;
  color: #ffffff;
}
.site-top a:hover {
  color: #7c6d4a;
}
.site-header {
  font-family: Montserrat;
  font-size: 14px;
  font-weight: 200;
}
.site-header,
.extra-info h3 {
  color: #111111;
}
.site-header,
.header03 .headroom--not-top,
.header04 .headroom--not-top {
  background-color: #ffffff;
}
.site-footer {
  font-family: Lato;
  font-size: 14px;
  font-weight: 400;
  color: #cab5a2;
  padding: 10px 0px 10px 0px;
  margin: 0px 0px 0px 0px;
  border-width: 0px 0px 0px 0px;
  border-style: solid;
  border-color: #000000;
  background-color: rgba(89, 37, 8, 0.56);
  background-image: url("https://www.jlm.com.pt/wp-content/uploads/2016/06/capa_2.jpg");
}
.site-footer a {
  color: #cab5a2;
}
.site-footer a:hover {
  color: #ffffff;
}
.site-footer .widget-title {
  color: #ffffff;
}
.copyright {
  color: #ffffff;
  background-color: #c69453;
}
.copyright a {
  color: #ffffff;
}
.copyright a:hover {
  color: #ffffff;
}
.big-title .entry-title {
  font-family: Montserrat;
  font-weight: 600;
  letter-spacing: 0em;
  color: #ffffff;
  font-size: 28px;
}
.big-title {
  padding: 100px 0px 100px 0px;
  background-color: #ffffff;
  background-image: url("https://www.jlm.com.pt/wp-content/uploads/2023/07/sobrenos.webp");
}
.big-title:after {
  background-color: rgba(89, 68, 49, 0.6);
}
.big-title--single .entry-title {
  font-family: Montserrat;
  font-weight: 700;
  letter-spacing: 0em;
  color: #ffffff;
  font-size: 44px;
}
.big-title--single {
  padding: 50px 0px 50px 0px;
  background-color: #ffffff;
  background-image: url("https://www.imperfect.pt/jlm/wp-content/uploads/2016/03/1.jpg");
}
.big-title--single:after {
  background-color: rgba(89, 68, 49, 0.7);
}
@media (min-width: 75rem) {
  #site-navigation .menu > ul > li.menu-item,
  #site-navigation .menu > li.menu-item {
    padding: 10px 10px 10px 10px;
  }
}
@media (max-width: 61.9375rem) {
  .site-header {
    background-color: #584632;
  }
}
@font-face {
  font-family: "FontAwesome";
  font-display: block;
  src: url("https://use.fontawesome.com/releases/v5.13.0/webfonts/fa-brands-400.eot"),
    url("https://use.fontawesome.com/releases/v5.13.0/webfonts/fa-brands-400.eot?#iefix")
      format("embedded-opentype"),
    url("https://use.fontawesome.com/releases/v5.13.0/webfonts/fa-brands-400.woff2")
      format("woff2"),
    url("https://use.fontawesome.com/releases/v5.13.0/webfonts/fa-brands-400.woff")
      format("woff"),
    url("https://use.fontawesome.com/releases/v5.13.0/webfonts/fa-brands-400.ttf")
      format("truetype"),
    url("https://use.fontawesome.com/releases/v5.13.0/webfonts/fa-brands-400.svg#fontawesome")
      format("svg");
}

@font-face {
  font-family: "FontAwesome";
  font-display: block;
  src: url("https://use.fontawesome.com/releases/v5.13.0/webfonts/fa-solid-900.eot"),
    url("https://use.fontawesome.com/releases/v5.13.0/webfonts/fa-solid-900.eot?#iefix")
      format("embedded-opentype"),
    url("https://use.fontawesome.com/releases/v5.13.0/webfonts/fa-solid-900.woff2")
      format("woff2"),
    url("https://use.fontawesome.com/releases/v5.13.0/webfonts/fa-solid-900.woff")
      format("woff"),
    url("https://use.fontawesome.com/releases/v5.13.0/webfonts/fa-solid-900.ttf")
      format("truetype"),
    url("https://use.fontawesome.com/releases/v5.13.0/webfonts/fa-solid-900.svg#fontawesome")
      format("svg");
}

@font-face {
  font-family: "FontAwesome";
  font-display: block;
  src: url("https://use.fontawesome.com/releases/v5.13.0/webfonts/fa-regular-400.eot"),
    url("https://use.fontawesome.com/releases/v5.13.0/webfonts/fa-regular-400.eot?#iefix")
      format("embedded-opentype"),
    url("https://use.fontawesome.com/releases/v5.13.0/webfonts/fa-regular-400.woff2")
      format("woff2"),
    url("https://use.fontawesome.com/releases/v5.13.0/webfonts/fa-regular-400.woff")
      format("woff"),
    url("https://use.fontawesome.com/releases/v5.13.0/webfonts/fa-regular-400.ttf")
      format("truetype"),
    url("https://use.fontawesome.com/releases/v5.13.0/webfonts/fa-regular-400.svg#fontawesome")
      format("svg");
  unicode-range: U+F004-F005, U+F007, U+F017, U+F022, U+F024, U+F02E, U+F03E,
    U+F044, U+F057-F059, U+F06E, U+F070, U+F075, U+F07B-F07C, U+F080, U+F086,
    U+F089, U+F094, U+F09D, U+F0A0, U+F0A4-F0A7, U+F0C5, U+F0C7-F0C8, U+F0E0,
    U+F0EB, U+F0F3, U+F0F8, U+F0FE, U+F111, U+F118-F11A, U+F11C, U+F133, U+F144,
    U+F146, U+F14A, U+F14D-F14E, U+F150-F152, U+F15B-F15C, U+F164-F165,
    U+F185-F186, U+F191-F192, U+F1AD, U+F1C1-F1C9, U+F1CD, U+F1D8, U+F1E3,
    U+F1EA, U+F1F6, U+F1F9, U+F20A, U+F247-F249, U+F24D, U+F254-F25B, U+F25D,
    U+F267, U+F271-F274, U+F279, U+F28B, U+F28D, U+F2B5-F2B6, U+F2B9, U+F2BB,
    U+F2BD, U+F2C1-F2C2, U+F2D0, U+F2D2, U+F2DC, U+F2ED, U+F328, U+F358-F35B,
    U+F3A5, U+F3D1, U+F410, U+F4AD;
}
.site-branding {
  padding: 0px 0px 0px 0px;
}

article.post .read-more,
.dates,
.pagination span.current,
.big-title h3:after,
.big-title--single h3:after,
.tm_quick_quote .vc_custom_heading h2:before,
.vc_tta.vc_tta-accordion
  .vc_tta-controls-icon-position-left.vc_tta-panel-title
  .vc_tta-controls-icon,
.tm_services .wpb_single_image,
.vc_custom_heading.style4:after,
.vc_custom_heading.style3:after,
.vc_custom_heading.style2:after,
.vc_custom_heading.style1:after,
.widget-title:after {
  background-color: #7c6d4a;
}

.sidebar ul li:before,
.wpb_widgetised_column ul li:before,
.sidebar .recent-posts__item:before,
.wpb_widgetised_column .recent-posts__item:before,
.facts li:before,
.error404 .col-md-6 > div h2,
.list li:before {
  color: #7c6d4a;
}

.search-box input[type="search"],
.header02 .header-info i {
  border-color: #7c6d4a;
}

.header02 .header-info i:after {
  border-top-color: #7c6d4a;
}

.tp-caption span {
  color: #7c6d4a !important;
}

.tp-caption button {
  background-color: #7c6d4a !important;
}

.tm-skin .esg-filterbutton:before,
.tm-skin-2 .esg-filterbutton:before {
  border-top-color: #7c6d4a !important;
}

article.post .read-more:hover,
.tm-works-02:before,
.tm_testimonials_02:before,
.tm_counting:before,
.tm_services:before,
.site-footer:before {
  background-color: #7f7a69;
}

.thememove_testimonials .author span:first-child {
  color: #7f7a69;
}

a,
a:visited {
  color: #7c6d4a;
}

a:hover {
  color: #afa682;
}

.tm_bread_crumb a {
  color: #807752;
}

.tm_bread_crumb,
.tm_bread_crumb a:hover {
  color: #ffffff;
}

input,
textarea,
keygen,
select,
button,
.eg-tm-recent-posts-01-content,
body {
  font-family: Lato;
}

body {
  font-weight: 400;
  font-size: 14px;
  color: #000000;
}

.esg-filterbutton span,
.eg-tm-recent-posts-01-element-10-a,
button,
input[type="button"],
input[type="reset"],
input[type="submit"],
.vc_label,
.tp-caption.a1,
.t1,
.woocommerce div.product p.price del,
.woocommerce div.product span.price del,
.woocommerce ul.products li.product .price,
.widget_products,
.eg-infinity-members-element-0,
.wpb_widgetised_column .better-menu-widget ul li,
.sidebar .better-menu-widget ul li,
.pagination span,
.pagination a,
.hentry .read-more,
.post-thumb .date,
.thememove_testimonials .author span:first-child,
.wpb_accordion .wpb_accordion_wrapper .wpb_accordion_header a,
.recent-posts__item a,
.eg-infinity-features-element-0,
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: Montserrat;
}

.tp-caption,
.tp-caption button {
  font-family: Montserrat !important;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 700;
}

.sidebar .better-menu-widget ul li,
.wpb_widgetised_column .better-menu-widget ul li,
h1,
h2,
h3,
h4,
h5,
h6,
.eg-infinity-features-element-0 {
  letter-spacing: 0em;
}

h1,
h2,
h3,
h4 {
  color: #111111;
}

h1 {
  font-size: 28px;
}

h2 {
  font-size: 24px;
}

h3 {
  font-size: 20px;
}

h4 {
  font-size: 16px;
}

body.boxed {
  background-color: #999999;
}

#open-left {
  color: #ffffff;
}

#site-navigation {
  font-family: Montserrat;
  font-weight: 700;
  font-size: 14px;
}

#site-navigation .menu > ul > li > a,
#site-navigation .menu > li > a {
  color: #333333;
}

#site-navigation .menu > ul > li > a:hover,
#site-navigation .menu > li > a:hover {
  color: #c69453;
}

.header03 #site-navigation .menu > ul > li.current-menu-item a,
.header03 #site-navigation .menu > li.current-menu-item a,
.header03 #site-navigation .menu > ul > li:hover a,
.header03 #site-navigation .menu > li:hover a {
  border-color: #c69453;
}

#site-navigation .sub-menu,
#site-navigation .children {
  font-family: Montserrat;
  background-color: #c69453;
}

#site-navigation .sub-menu li a,
#site-navigation .children li a {
  font-weight: 400;
  font-size: 12px;
  color: #ffffff;
}

#site-navigation .sub-menu li a:hover,
#site-navigation .children li a:hover {
  color: #ffffff;
}

#site-navigation .sub-menu li,
#site-navigation .children li {
  padding: 10px 15px 15px 10px;
}

.main-navigation {
  background-color: #ffffff;
}

#site-navigation .menu > ul > li:after,
#site-navigation .menu > li:after {
  background-color: rgba(255, 255, 255, 0.2);
}

#site-navigation .sub-menu li {
  background-color: #c69453;
}

#site-navigation .sub-menu li:hover {
  background-color: #594431;
}

.vc_btn3-color-grey {
  font-family: Montserrat !important;
  font-size: 13 !important;
  font-weight: 700 !important;
  color: #ffffff !important;
  background-color: #c69453 !important;
}

.vc_btn3-color-grey:hover,
.vc_btn3-color-grey:focus {
  color: #ffffff !important;
  background-color: #7c6d4a !important;
}

button,
input[type="button"],
input[type="reset"],
input[type="submit"] {
  background-color: #c69453;
}

button,
input[type="button"]:hover,
input[type="reset"]:hover,
input[type="submit"]:hover {
  background-color: #7c6d4a;
}

.site-top {
  font-family: Lato;
  font-size: 14px;
  font-weight: 400;
  color: #ffffff;
  background-color: #c69453;
}

.site-top a {
  font-family: Montserrat;
  font-size: 14px;
  font-weight: 400;
  color: #ffffff;
}

.site-top a:hover {
  color: #7c6d4a;
}

.site-header {
  font-family: Montserrat;
  font-size: 14px;
  font-weight: 200;
}

.site-header,
.extra-info h3 {
  color: #111111;
}

.site-header,
.header03 .headroom--not-top,
.header04 .headroom--not-top {
  background-color: #ffffff;
}

.site-footer {
  font-family: Lato;
  font-size: 14px;
  font-weight: 400;
  color: #cab5a2;
  padding: 10px 0px 10px 0px;
  margin: 0px 0px 0px 0px;
  border-width: 0px 0px 0px 0px;
  border-style: solid;
  border-color: #000000;
  background-color: rgba(89, 37, 8, 0.56);
  background-image: url("https://www.jlm.com.pt/wp-content/uploads/2016/06/capa_2.jpg");
}

.site-footer a {
  color: #cab5a2;
}

.site-footer a:hover {
  color: #ffffff;
}

.site-footer .widget-title {
  color: #ffffff;
}

.copyright {
  color: #ffffff;
  background-color: #c69453;
}

.copyright a {
  color: #ffffff;
}

.copyright a:hover {
  color: #ffffff;
}

.big-title .entry-title {
  font-family: Montserrat;
  font-weight: 600;
  letter-spacing: 0em;
  color: #ffffff;
  font-size: 28px;
}

.big-title {
  padding: 100px 0px 100px 0px;
  background-color: #ffffff;
  background-image: url("https://www.jlm.com.pt/wp-content/uploads/2023/07/sobrenos.webp");
}

.big-title:after {
  background-color: rgba(89, 68, 49, 0.6);
}

.big-title--single .entry-title {
  font-family: Montserrat;
  font-weight: 700;
  letter-spacing: 0em;
  color: #ffffff;
  font-size: 44px;
}

.big-title--single {
  padding: 50px 0px 50px 0px;
  background-color: #ffffff;
  background-image: url("https://www.imperfect.pt/jlm/wp-content/uploads/2016/03/1.jpg");
}

.big-title--single:after {
  background-color: rgba(89, 68, 49, 0.7);
}

@media (min-width: 75rem) {
  #site-navigation .menu > ul > li.menu-item,
  #site-navigation .menu > li.menu-item {
    padding: 10px 10px 10px 10px;
  }
}

@media (max-width: 61.9375rem) {
  .site-header {
    background-color: #584632;
  }
}
@font-face {
  font-family: "FontAwesome";
  font-display: block;
  src: url("https://use.fontawesome.com/releases/v5.13.0/webfonts/fa-brands-400.eot"),
    url("https://use.fontawesome.com/releases/v5.13.0/webfonts/fa-brands-400.eot?#iefix")
      format("embedded-opentype"),
    url("https://use.fontawesome.com/releases/v5.13.0/webfonts/fa-brands-400.woff2")
      format("woff2"),
    url("https://use.fontawesome.com/releases/v5.13.0/webfonts/fa-brands-400.woff")
      format("woff"),
    url("https://use.fontawesome.com/releases/v5.13.0/webfonts/fa-brands-400.ttf")
      format("truetype"),
    url("https://use.fontawesome.com/releases/v5.13.0/webfonts/fa-brands-400.svg#fontawesome")
      format("svg");
}

@font-face {
  font-family: "FontAwesome";
  font-display: block;
  src: url("https://use.fontawesome.com/releases/v5.13.0/webfonts/fa-solid-900.eot"),
    url("https://use.fontawesome.com/releases/v5.13.0/webfonts/fa-solid-900.eot?#iefix")
      format("embedded-opentype"),
    url("https://use.fontawesome.com/releases/v5.13.0/webfonts/fa-solid-900.woff2")
      format("woff2"),
    url("https://use.fontawesome.com/releases/v5.13.0/webfonts/fa-solid-900.woff")
      format("woff"),
    url("https://use.fontawesome.com/releases/v5.13.0/webfonts/fa-solid-900.ttf")
      format("truetype"),
    url("https://use.fontawesome.com/releases/v5.13.0/webfonts/fa-solid-900.svg#fontawesome")
      format("svg");
}

@font-face {
  font-family: "FontAwesome";
  font-display: block;
  src: url("https://use.fontawesome.com/releases/v5.13.0/webfonts/fa-regular-400.eot"),
    url("https://use.fontawesome.com/releases/v5.13.0/webfonts/fa-regular-400.eot?#iefix")
      format("embedded-opentype"),
    url("https://use.fontawesome.com/releases/v5.13.0/webfonts/fa-regular-400.woff2")
      format("woff2"),
    url("https://use.fontawesome.com/releases/v5.13.0/webfonts/fa-regular-400.woff")
      format("woff"),
    url("https://use.fontawesome.com/releases/v5.13.0/webfonts/fa-regular-400.ttf")
      format("truetype"),
    url("https://use.fontawesome.com/releases/v5.13.0/webfonts/fa-regular-400.svg#fontawesome")
      format("svg");
  unicode-range: U + F004-F005, U + F007, U + F017, U + F022, U + F024, U + F02E,
    U + F03E, U + F044, U + F057-F059, U + F06E, U + F070, U + F075,
    U + F07B-F07C, U + F080, U + F086, U + F089, U + F094, U + F09D, U + F0A0,
    U + F0A4-F0A7, U + F0C5, U + F0C7-F0C8, U + F0E0, U + F0EB, U + F0F3,
    U + F0F8, U + F0FE, U + F111, U + F118-F11A, U + F11C, U + F133, U + F144,
    U + F146, U + F14A, U + F14D-F14E, U + F150-F152, U + F15B-F15C,
    U + F164-F165, U + F185-F186, U + F191-F192, U + F1AD, U + F1C1-F1C9,
    U + F1CD, U + F1D8, U + F1E3, U + F1EA, U + F1F6, U + F1F9, U + F20A,
    U + F247-F249, U + F24D, U + F254-F25B, U + F25D, U + F267, U + F271-F274,
    U + F279, U + F28B, U + F28D, U + F2B5-F2B6, U + F2B9, U + F2BB, U + F2BD,
    U + F2C1-F2C2, U + F2D0, U + F2D2, U + F2DC, U + F2ED, U + F328,
    U + F358-F35B, U + F3A5, U + F3D1, U + F410, U + F4AD;
}
.vc_custom_1627567480930 {
  margin-right: 0px !important;
  margin-left: 0px !important;
  border-top-width: 1px !important;
  padding-top: 5px !important;
  padding-bottom: 15px !important;
  background-color: #eeeeee !important;
  border-top-color: #dddddd !important;
}

.vc_custom_1477555201574 {
  margin-bottom: 30px !important;
}

.vc_custom_1468421155022 {
  margin-top: 10px !important;
  padding-left: 30px !important;
}

.vc_custom_1627567700296 {
  margin-top: 10px !important;
  padding-left: 30px !important;
}
