<!DOCTYPE html>
<html lang="en-US">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="profile" href="https://gmpg.org/xfn/11">
    <link rel="pingback" href="https://www.jlm.com.pt/xmlrpc.php">
    <meta name='robots' content='index, follow, max-image-preview:large, max-snippet:-1, max-video-preview:-1'/>

    <!-- This site is optimized with the Yoast SEO Premium plugin v16.6 (Yoast SEO v19.1) - https://yoast.com/wordpress/plugins/seo/ -->
    <title>José Luís Madeiras - Transformação e comercialização de madeiras</title>
    <meta name="description" content="The common alder is one of those versatile wood that is rarely used by those who work with wood as a hobby, or even by professional woodworkers."/>
    <link rel="canonical" href="https://www.jlm.com.pt/alder/"/>
    <meta property="og:locale" content="en_US"/>
    <meta property="og:locale:alternate" content="pt_PT"/>
    <meta property="og:locale:alternate" content="es_ES"/>
    <meta property="og:locale:alternate" content="fr_FR"/>
    <meta property="og:type" content="article"/>
    <meta property="og:title" content="José Luís Madeiras - Transformação e comercialização de madeiras"/>
    <meta property="og:description" content="The common alder is one of those versatile wood that is rarely used by those who work with wood as a hobby, or even by professional woodworkers."/>
    <meta property="og:url" content="https://www.jlm.com.pt/alder/"/>
    <meta property="og:site_name" content="José Luis Madeiras"/>
    <meta property="article:publisher" content="https://www.facebook.com/jlm.comerciomadeiras/"/>
    <meta property="article:modified_time" content="2021-07-30T09:05:18+00:00"/>
    <meta property="og:image" content="https://www.jlm.com.pt/wp-content/uploads/2020/06/FACEBOOK_SITE_AMIEIRO_1A-1.jpg"/>
    <meta property="og:image:width" content="1383"/>
    <meta property="og:image:height" content="652"/>
    <meta property="og:image:type" content="image/jpeg"/>
    <meta name="twitter:card" content="summary_large_image"/>
    <meta name="twitter:description" content="The common alder is one of those versatile wood that is rarely used by those who work with wood as a hobby, or even by professional woodworkers."/>
    <meta name="twitter:label1" content="Est. reading time"/>
    <meta name="twitter:data1" content="2 minutes"/>
    <script type="application/ld+json" class="yoast-schema-graph">{"@context":"https://schema.org","@graph":[{"@type":"Organization","@id":"https://www.jlm.com.pt/jlm-en/#organization","name":"José Luís Madeiras - Transformação e comercialização de madeiras","url":"https://www.jlm.com.pt/jlm-en/","sameAs":["https://www.instagram.com/joseluismadeiras/","https://www.linkedin.com/company/jose-luis-madeiras/","https://www.facebook.com/jlm.comerciomadeiras/"],"logo":{"@type":"ImageObject","inLanguage":"en-US","@id":"https://www.jlm.com.pt/jlm-en/#/schema/logo/image/","url":"https://www.jlm.com.pt/wp-content/uploads/2020/05/LOGO_JOSELUISMADEIRAS.png","contentUrl":"https://www.jlm.com.pt/wp-content/uploads/2020/05/LOGO_JOSELUISMADEIRAS.png","width":150,"height":175,"caption":"José Luís Madeiras - Transformação e comercialização de madeiras"},"image":{"@id":"https://www.jlm.com.pt/jlm-en/#/schema/logo/image/"}},{"@type":"WebSite","@id":"https://www.jlm.com.pt/jlm-en/#website","url":"https://www.jlm.com.pt/jlm-en/","name":"José Luis Madeiras","description":"Excelência em Madeira","publisher":{"@id":"https://www.jlm.com.pt/jlm-en/#organization"},"potentialAction":[{"@type":"SearchAction","target":{"@type":"EntryPoint","urlTemplate":"https://www.jlm.com.pt/jlm-en/?s={search_term_string}"},"query-input":"required name=search_term_string"}],"inLanguage":"en-US"},{"@type":"ImageObject","inLanguage":"en-US","@id":"https://www.jlm.com.pt/alder/#primaryimage","url":"https://www.jlm.com.pt/wp-content/uploads/2020/06/FACEBOOK_SITE_AMIEIRO_1A-1.jpg","contentUrl":"https://www.jlm.com.pt/wp-content/uploads/2020/06/FACEBOOK_SITE_AMIEIRO_1A-1.jpg","width":1383,"height":652,"caption":"Alder"},{"@type":"WebPage","@id":"https://www.jlm.com.pt/alder/#webpage","url":"https://www.jlm.com.pt/alder/","name":"José Luís Madeiras - Transformação e comercialização de madeiras","isPartOf":{"@id":"https://www.jlm.com.pt/jlm-en/#website"},"primaryImageOfPage":{"@id":"https://www.jlm.com.pt/alder/#primaryimage"},"datePublished":"2016-07-13T14:45:58+00:00","dateModified":"2021-07-30T09:05:18+00:00","description":"The common alder is one of those versatile wood that is rarely used by those who work with wood as a hobby, or even by professional woodworkers.","breadcrumb":{"@id":"https://www.jlm.com.pt/alder/#breadcrumb"},"inLanguage":"en-US","potentialAction":[{"@type":"ReadAction","target":["https://www.jlm.com.pt/alder/"]}]},{"@type":"BreadcrumbList","@id":"https://www.jlm.com.pt/alder/#breadcrumb","itemListElement":[{"@type":"ListItem","position":1,"name":"Home","item":"https://www.jlm.com.pt/jlm-en/"},{"@type":"ListItem","position":2,"name":"Alder"}]}]}</script>
    <!-- / Yoast SEO Premium plugin. -->

    <link rel="alternate" href="https://www.jlm.com.pt/amieiro/" hreflang="pt"/>
    <link rel="alternate" href="https://www.jlm.com.pt/alder/" hreflang="en"/>
    <link rel="alternate" href="https://www.jlm.com.pt/aliso/" hreflang="es"/>
    <link rel="alternate" href="https://www.jlm.com.pt/aulne/" hreflang="fr"/>
    <script type='application/javascript'>
    console.log('PixelYourSite Free version 9.4.7.1');
    </script>
    <link rel='dns-prefetch' href='//ajax.googleapis.com'/>
    <link rel='dns-prefetch' href='//www.googletagmanager.com'/>
    <link rel='dns-prefetch' href='//www.google.com'/>
    <link rel='dns-prefetch' href='//use.fontawesome.com'/>
    <link rel='dns-prefetch' href='//fonts.googleapis.com'/>
    <link href='https://fonts.gstatic.com' crossorigin rel='preconnect'/>
    <link rel="alternate" type="application/rss+xml" title="José Luis Madeiras &raquo; Feed" href="https://www.jlm.com.pt/en/feed/"/>
    <link rel="alternate" type="application/rss+xml" title="José Luis Madeiras &raquo; Comments Feed" href="https://www.jlm.com.pt/en/comments/feed/"/>
    <style type="text/css">
    img.wp-smiley, img.emoji {
        display: inline !important;
        border: none !important;
        box-shadow: none !important;
        height: 1em !important;
        width: 1em !important;
        margin: 0 .07em !important;
        vertical-align: -0.1em !important;
        background: none !important;
        padding: 0 !important;
    }
    </style>
    <link rel='stylesheet' id='cookie-law-info-css' href='https://www.jlm.com.pt/wp-content/plugins/cookie-law-info/legacy/public/css/cookie-law-info-public.css?ver=3.1.7' type='text/css' media='all'/>
    <link rel='stylesheet' id='cookie-law-info-gdpr-css' href='https://www.jlm.com.pt/wp-content/plugins/cookie-law-info/legacy/public/css/cookie-law-info-gdpr.css?ver=3.1.7' type='text/css' media='all'/>
    <link rel='stylesheet' id='style-css' href='https://www.jlm.com.pt/wp-content/themes/tm-wood-worker/style.css?ver=5.8.10' type='text/css' media='all'/>
    <link rel='stylesheet' id='main-css' href='https://www.jlm.com.pt/wp-content/themes/tm-wood-worker/css/main.css?ver=5.8.10' type='text/css' media='all'/>
    <style id='main-inline-css' type='text/css'>
    .site-top {
        background-color: #7e6d49 !important;
    }

    .copyright {
        background-color: #7e6d49 !important;
    }

    .site-content article {
        word-wrap: normal;
        -webkit-hyphens: none;
        -moz-hyphens: none;
        hyphens: none;
    }

    .widget-area .widget {
        word-wrap: normal;
        -webkit-hyphens: none;
        -moz-hyphens: none;
        hyphens: none;
    }

    .h1, h2, h3, h4, h5, h6 {
        font-weight: 0;
    }

    .tm_services .wpb_single_image {
        width: 160px;
        height: 160px;
    }

    .big-title {
        padding: 120px 0px 90px 0px;
    }

    .big-title, .big-title--single {
        margin-bottom: 40px;
    }

    .site-header {
        background-color: #584632;
    }

    .entry-meta {
        display: none;
    }

    .entry-footer {
        display: none;
    }

    .big-title {
        padding: 100px 0px 100px 0px;
    }
    </style>
    <link rel='stylesheet' id='font-awesome-css' href='https://www.jlm.com.pt/wp-content/themes/tm-wood-worker/inc/fontawesome/css/all.css?ver=5.8.10' type='text/css' media='all'/>
    <link rel='stylesheet' id='jquery.menu-css-css' href='https://www.jlm.com.pt/wp-content/themes/tm-wood-worker/js/jQuery.mmenu/css/jquery.mmenu.all.css?ver=5.8.10' type='text/css' media='all'/>
    <link rel='stylesheet' id='font-awesome-official-css' href='https://use.fontawesome.com/releases/v5.13.0/css/all.css' type='text/css' media='all' integrity="sha384-Bfad6CLCknfcloXFOyFnlgtENryhrpZCe29RTifKEixXQZ38WheV+i/6YWSzkz3V" crossorigin="anonymous"/>
    <link rel='stylesheet' id='js_composer_front-css' href='https://www.jlm.com.pt/wp-content/plugins/js_composer/assets/css/js_composer.min.css?ver=6.13.0' type='text/css' media='all'/>
    <link rel='stylesheet' id='kirki_google_fonts-css' href='//fonts.googleapis.com/css?family=Lato:regular,italic,700,%7CMontserrat:regular,700,400,700,700,400,700,400,400,200,400,600,700&#038;subset=cyrillic,cyrillic-ext,devanagari,greek,greek-ext,khmer,latin,latin-ext,vietnamese' type='text/css' media='all'/>
    <link rel='stylesheet' id='kirki-styles-css' href='https://www.jlm.com.pt/wp-content/themes/tm-wood-worker/core/customizer/kirki/assets/css/kirki-styles.css' type='text/css' media='all'/>
    <style id='kirki-styles-inline-css' type='text/css'>
    .site-branding {
        padding: 0px 0px 0px 0px;
    }

    article.post .read-more, .dates, .pagination span.current, .big-title h3:after, .big-title--single h3:after, .tm_quick_quote .vc_custom_heading h2:before, .vc_tta.vc_tta-accordion .vc_tta-controls-icon-position-left.vc_tta-panel-title .vc_tta-controls-icon, .tm_services .wpb_single_image, .vc_custom_heading.style4:after, .vc_custom_heading.style3:after, .vc_custom_heading.style2:after, .vc_custom_heading.style1:after, .widget-title:after {
        background-color: #7c6d4a;
    }

    .sidebar ul li:before, .wpb_widgetised_column ul li:before, .sidebar .recent-posts__item:before, .wpb_widgetised_column .recent-posts__item:before, .facts li:before, .error404 .col-md-6 > div h2, .list li:before {
        color: #7c6d4a;
    }

    .search-box input[type="search"], .header02 .header-info i {
        border-color: #7c6d4a;
    }

    .header02 .header-info i:after {
        border-top-color: #7c6d4a;
    }

    .tp-caption span {
        color: #7c6d4a !important;
    }

    .tp-caption button {
        background-color: #7c6d4a !important;
    }

    .tm-skin .esg-filterbutton:before, .tm-skin-2 .esg-filterbutton:before {
        border-top-color: #7c6d4a !important;
    }

    article.post .read-more:hover, .tm-works-02:before, .tm_testimonials_02:before, .tm_counting:before, .tm_services:before, .site-footer:before {
        background-color: #7f7a69;
    }

    .thememove_testimonials .author span:first-child {
        color: #7f7a69;
    }

    a, a:visited {
        color: #7c6d4a;
    }

    a:hover {
        color: #afa682;
    }

    .tm_bread_crumb a {
        color: #807752;
    }

    .tm_bread_crumb, .tm_bread_crumb a:hover {
        color: #ffffff;
    }

    input, textarea, keygen, select, button, .eg-tm-recent-posts-01-content, body {
        font-family: Lato;
    }

    body {
        font-weight: 400;
        font-size: 14px;
        color: #000000;
    }

    .esg-filterbutton span, .eg-tm-recent-posts-01-element-10-a, button, input[type="button"], input[type="reset"], input[type="submit"], .vc_label, .tp-caption.a1, .t1, .woocommerce div.product p.price del, .woocommerce div.product span.price del, .woocommerce ul.products li.product .price, .widget_products, .eg-infinity-members-element-0, .wpb_widgetised_column .better-menu-widget ul li, .sidebar .better-menu-widget ul li, .pagination span, .pagination a, .hentry .read-more, .post-thumb .date, .thememove_testimonials .author span:first-child, .wpb_accordion .wpb_accordion_wrapper .wpb_accordion_header a, .recent-posts__item a, .eg-infinity-features-element-0, h1, h2, h3, h4, h5, h6 {
        font-family: Montserrat;
    }

    .tp-caption, .tp-caption button {
        font-family: Montserrat !important;
    }

    h1, h2, h3, h4, h5, h6 {
        font-weight: 700;
    }

    .sidebar .better-menu-widget ul li, .wpb_widgetised_column .better-menu-widget ul li, h1, h2, h3, h4, h5, h6, .eg-infinity-features-element-0 {
        letter-spacing: 0em;
    }

    h1, h2, h3, h4 {
        color: #111111;
    }

    h1 {
        font-size: 28px;
    }

    h2 {
        font-size: 24px;
    }

    h3 {
        font-size: 20px;
    }

    h4 {
        font-size: 16px;
    }

    body.boxed {
        background-color: #999999;
    }

    #open-left {
        color: #ffffff;
    }

    #site-navigation {
        font-family: Montserrat;
        font-weight: 700;
        font-size: 14px;
    }

    #site-navigation .menu > ul > li > a, #site-navigation .menu > li > a {
        color: #333333;
    }

    #site-navigation .menu > ul > li > a:hover, #site-navigation .menu > li > a:hover {
        color: #C69453;
    }

    .header03 #site-navigation .menu > ul > li.current-menu-item a, .header03 #site-navigation .menu > li.current-menu-item a, .header03 #site-navigation .menu > ul > li:hover a, .header03 #site-navigation .menu > li:hover a {
        border-color: #C69453;
    }

    #site-navigation .sub-menu, #site-navigation .children {
        font-family: Montserrat;
        background-color: #c69453;
    }

    #site-navigation .sub-menu li a, #site-navigation .children li a {
        font-weight: 400;
        font-size: 12px;
        color: #ffffff;
    }

    #site-navigation .sub-menu li a:hover, #site-navigation .children li a:hover {
        color: #ffffff;
    }

    #site-navigation .sub-menu li, #site-navigation .children li {
        padding: 10px 15px 15px 10px;
    }

    .main-navigation {
        background-color: #ffffff;
    }

    #site-navigation .menu > ul > li:after, #site-navigation .menu > li:after {
        background-color: rgba(255, 255, 255, 0.2);
    }

    #site-navigation .sub-menu li {
        background-color: #C69453;
    }

    #site-navigation .sub-menu li:hover {
        background-color: #594431;
    }

    .vc_btn3-color-grey {
        font-family: Montserrat !important;
        font-size: 13 !important;
        font-weight: 700 !important;
        color: #ffffff !important;
        background-color: #C69453 !important;
    }

    .vc_btn3-color-grey:hover, .vc_btn3-color-grey:focus {
        color: #ffffff !important;
        background-color: #7c6d4a !important;
    }

    button, input[type="button"], input[type="reset"], input[type="submit"] {
        background-color: #C69453;
    }

    button, input[type="button"]:hover, input[type="reset"]:hover, input[type="submit"]:hover {
        background-color: #7c6d4a;
    }

    .site-top {
        font-family: Lato;
        font-size: 14px;
        font-weight: 400;
        color: #ffffff;
        background-color: #C69453;
    }

    .site-top a {
        font-family: Montserrat;
        font-size: 14px;
        font-weight: 400;
        color: #ffffff;
    }

    .site-top a:hover {
        color: #7c6d4a;
    }

    .site-header {
        font-family: Montserrat;
        font-size: 14px;
        font-weight: 200;
    }

    .site-header, .extra-info h3 {
        color: #111111;
    }

    .site-header, .header03 .headroom--not-top, .header04 .headroom--not-top {
        background-color: #ffffff;
    }

    .site-footer {
        font-family: Lato;
        font-size: 14px;
        font-weight: 400;
        color: #CAB5A2;
        padding: 10px 0px 10px 0px;
        margin: 0px 0px 0px 0px;
        border-width: 0px 0px 0px 0px;
        border-style: solid;
        border-color: #000000;
        background-color: rgba(89, 37, 8, 0.56);
        background-image: url("https://www.jlm.com.pt/wp-content/uploads/2016/06/capa_2.jpg");
    }

    .site-footer a {
        color: #CAB5A2;
    }

    .site-footer a:hover {
        color: #ffffff;
    }

    .site-footer .widget-title {
        color: #ffffff;
    }

    .copyright {
        color: #ffffff;
        background-color: #C69453;
    }

    .copyright a {
        color: #ffffff;
    }

    .copyright a:hover {
        color: #ffffff;
    }

    .big-title .entry-title {
        font-family: Montserrat;
        font-weight: 600;
        letter-spacing: 0em;
        color: #ffffff;
        font-size: 28px;
    }

    .big-title {
        padding: 100px 0px 100px 0px;
        background-color: #ffffff;
        background-image: url("https://www.jlm.com.pt/wp-content/uploads/2023/07/sobrenos.webp");
    }

    .big-title:after {
        background-color: rgba(89, 68, 49, 0.6);
    }

    .big-title--single .entry-title {
        font-family: Montserrat;
        font-weight: 700;
        letter-spacing: 0em;
        color: #ffffff;
        font-size: 44px;
    }

    .big-title--single {
        padding: 50px 0px 50px 0px;
        background-color: #ffffff;
        background-image: url("https://www.imperfect.pt/jlm/wp-content/uploads/2016/03/1.jpg");
    }

    .big-title--single:after {
        background-color: rgba(89, 68, 49, 0.7);
    }

    @media (min-width: 75rem) {
        #site-navigation .menu > ul > li.menu-item, #site-navigation .menu > li.menu-item {
            padding: 10px 10px 10px 10px;
        }
    }

    @media (max-width: 61.9375rem) {
        .site-header {
            background-color: #584632;
        }
    }
    </style>
    <link rel='stylesheet' id='font-awesome-official-v4shim-css' href='https://use.fontawesome.com/releases/v5.13.0/css/v4-shims.css' type='text/css' media='all' integrity="sha384-/7iOrVBege33/9vHFYEtviVcxjUsNCqyeMnlW/Ms+PH8uRdFkKFmqf9CbVAN0Qef" crossorigin="anonymous"/>
    <style id='font-awesome-official-v4shim-inline-css' type='text/css'>
    @font-face {
        font-family: "FontAwesome";
        font-display: block;
        src: url("https://use.fontawesome.com/releases/v5.13.0/webfonts/fa-brands-400.eot"), url("https://use.fontawesome.com/releases/v5.13.0/webfonts/fa-brands-400.eot?#iefix") format("embedded-opentype"), url("https://use.fontawesome.com/releases/v5.13.0/webfonts/fa-brands-400.woff2") format("woff2"), url("https://use.fontawesome.com/releases/v5.13.0/webfonts/fa-brands-400.woff") format("woff"), url("https://use.fontawesome.com/releases/v5.13.0/webfonts/fa-brands-400.ttf") format("truetype"), url("https://use.fontawesome.com/releases/v5.13.0/webfonts/fa-brands-400.svg#fontawesome") format("svg");
    }

    @font-face {
        font-family: "FontAwesome";
        font-display: block;
        src: url("https://use.fontawesome.com/releases/v5.13.0/webfonts/fa-solid-900.eot"), url("https://use.fontawesome.com/releases/v5.13.0/webfonts/fa-solid-900.eot?#iefix") format("embedded-opentype"), url("https://use.fontawesome.com/releases/v5.13.0/webfonts/fa-solid-900.woff2") format("woff2"), url("https://use.fontawesome.com/releases/v5.13.0/webfonts/fa-solid-900.woff") format("woff"), url("https://use.fontawesome.com/releases/v5.13.0/webfonts/fa-solid-900.ttf") format("truetype"), url("https://use.fontawesome.com/releases/v5.13.0/webfonts/fa-solid-900.svg#fontawesome") format("svg");
    }

    @font-face {
        font-family: "FontAwesome";
        font-display: block;
        src: url("https://use.fontawesome.com/releases/v5.13.0/webfonts/fa-regular-400.eot"), url("https://use.fontawesome.com/releases/v5.13.0/webfonts/fa-regular-400.eot?#iefix") format("embedded-opentype"), url("https://use.fontawesome.com/releases/v5.13.0/webfonts/fa-regular-400.woff2") format("woff2"), url("https://use.fontawesome.com/releases/v5.13.0/webfonts/fa-regular-400.woff") format("woff"), url("https://use.fontawesome.com/releases/v5.13.0/webfonts/fa-regular-400.ttf") format("truetype"), url("https://use.fontawesome.com/releases/v5.13.0/webfonts/fa-regular-400.svg#fontawesome") format("svg");
        unicode-range: U + F004-F005, U + F007, U + F017, U + F022, U + F024, U + F02E, U + F03E, U + F044, U + F057-F059, U + F06E, U + F070, U + F075, U + F07B-F07C, U + F080, U + F086, U + F089, U + F094, U + F09D, U + F0A0, U + F0A4-F0A7, U + F0C5, U + F0C7-F0C8, U + F0E0, U + F0EB, U + F0F3, U + F0F8, U + F0FE, U + F111, U + F118-F11A, U + F11C, U + F133, U + F144, U + F146, U + F14A, U + F14D-F14E, U + F150-F152, U + F15B-F15C, U + F164-F165, U + F185-F186, U + F191-F192, U + F1AD, U + F1C1-F1C9, U + F1CD, U + F1D8, U + F1E3, U + F1EA, U + F1F6, U + F1F9, U + F20A, U + F247-F249, U + F24D, U + F254-F25B, U + F25D, U + F267, U + F271-F274, U + F279, U + F28B, U + F28D, U + F2B5-F2B6, U + F2B9, U + F2BB, U + F2BD, U + F2C1-F2C2, U + F2D0, U + F2D2, U + F2DC, U + F2ED, U + F328, U + F358-F35B, U + F3A5, U + F3D1, U + F410, U + F4AD;
    }
    </style>
    <script type='text/javascript' src='https://www.jlm.com.pt/wp-includes/js/jquery/jquery.min.js?ver=3.6.0' id='jquery-core-js'></script>
    <script type='text/javascript' defer='defer' src='https://www.jlm.com.pt/wp-includes/js/jquery/jquery-migrate.min.js?ver=3.3.2' id='jquery-migrate-js'></script>
    <script type='text/javascript' id='cookie-law-info-js-extra'>
    /* <![CDATA[ */
    var Cli_Data = {
        "nn_cookie_ids": [],
        "cookielist": [],
        "non_necessary_cookies": [],
        "ccpaEnabled": "",
        "ccpaRegionBased": "",
        "ccpaBarEnabled": "",
        "strictlyEnabled": ["necessary", "obligatoire"],
        "ccpaType": "gdpr",
        "js_blocking": "",
        "custom_integration": "",
        "triggerDomRefresh": "",
        "secure_cookies": ""
    };
    var cli_cookiebar_settings = {
        "animate_speed_hide": "500",
        "animate_speed_show": "500",
        "background": "#fff",
        "border": "#444",
        "border_on": "",
        "button_1_button_colour": "#000",
        "button_1_button_hover": "#000000",
        "button_1_link_colour": "#fff",
        "button_1_as_button": "1",
        "button_1_new_win": "",
        "button_2_button_colour": "#333",
        "button_2_button_hover": "#292929",
        "button_2_link_colour": "#444",
        "button_2_as_button": "",
        "button_2_hidebar": "",
        "button_3_button_colour": "#000",
        "button_3_button_hover": "#000000",
        "button_3_link_colour": "#fff",
        "button_3_as_button": "1",
        "button_3_new_win": "",
        "button_4_button_colour": "#000",
        "button_4_button_hover": "#000000",
        "button_4_link_colour": "#fff",
        "button_4_as_button": "1",
        "button_7_button_colour": "#61a229",
        "button_7_button_hover": "#4e8221",
        "button_7_link_colour": "#fff",
        "button_7_as_button": "1",
        "button_7_new_win": "",
        "font_family": "inherit",
        "header_fix": "",
        "notify_animate_hide": "1",
        "notify_animate_show": "",
        "notify_div_id": "#cookie-law-info-bar",
        "notify_position_horizontal": "right",
        "notify_position_vertical": "bottom",
        "scroll_close": "",
        "scroll_close_reload": "",
        "accept_close_reload": "",
        "reject_close_reload": "",
        "showagain_tab": "",
        "showagain_background": "#fff",
        "showagain_border": "#000",
        "showagain_div_id": "#cookie-law-info-again",
        "showagain_x_position": "100px",
        "text": "#000",
        "show_once_yn": "",
        "show_once": "10000",
        "logging_on": "",
        "as_popup": "",
        "popup_overlay": "1",
        "bar_heading_text": "",
        "cookie_bar_as": "banner",
        "popup_showagain_position": "bottom-right",
        "widget_position": "left"
    };
    var log_object = {
        "ajax_url": "https:\/\/www.jlm.com.pt\/wp-admin\/admin-ajax.php"
    };
    /* ]]> */
    </script>
    <script type='text/javascript' defer='defer' src='https://www.jlm.com.pt/wp-content/plugins/cookie-law-info/legacy/public/js/cookie-law-info-public.js?ver=3.1.7' id='cookie-law-info-js'></script>
    <script type='text/javascript' defer='defer' src='https://www.jlm.com.pt/wp-content/plugins/pixelyoursite/dist/scripts/jquery.bind-first-0.2.3.min.js?ver=5.8.10' id='jquery-bind-first-js'></script>
    <script type='text/javascript' defer='defer' src='https://www.jlm.com.pt/wp-content/plugins/pixelyoursite/dist/scripts/js.cookie-2.1.3.min.js?ver=2.1.3' id='js-cookie-pys-js'></script>
    <script type='text/javascript' id='pys-js-extra'>
    /* <![CDATA[ */
    var pysOptions = {
        "staticEvents": {
            "facebook": {
                "init_event": [{
                    "delay": 0,
                    "type": "static",
                    "name": "PageView",
                    "pixelIds": ["1442227212873968"],
                    "eventID": "affa9b9a-5962-4fa5-b21c-89b88e1e69a4",
                    "params": {
                        "page_title": "Alder",
                        "post_type": "page",
                        "post_id": 1123,
                        "plugin": "PixelYourSite",
                        "user_role": "guest",
                        "event_url": "www.jlm.com.pt\/alder\/"
                    },
                    "e_id": "init_event",
                    "ids": [],
                    "hasTimeWindow": false,
                    "timeWindow": 0,
                    "woo_order": "",
                    "edd_order": ""
                }]
            }
        },
        "dynamicEvents": [],
        "triggerEvents": [],
        "triggerEventTypes": [],
        "facebook": {
            "pixelIds": ["1442227212873968"],
            "advancedMatching": {
                "external_id": "adecceefefebacedabdbcb"
            },
            "advancedMatchingEnabled": true,
            "removeMetadata": false,
            "contentParams": {
                "post_type": "page",
                "post_id": 1123,
                "content_name": "Alder"
            },
            "commentEventEnabled": true,
            "wooVariableAsSimple": false,
            "downloadEnabled": true,
            "formEventEnabled": true,
            "serverApiEnabled": true,
            "wooCRSendFromServer": false,
            "send_external_id": null
        },
        "debug": "",
        "siteUrl": "https:\/\/www.jlm.com.pt",
        "ajaxUrl": "https:\/\/www.jlm.com.pt\/wp-admin\/admin-ajax.php",
        "ajax_event": "4fa25efe38",
        "enable_remove_download_url_param": "1",
        "cookie_duration": "7",
        "last_visit_duration": "60",
        "enable_success_send_form": "",
        "ajaxForServerEvent": "1",
        "send_external_id": "1",
        "external_id_expire": "180",
        "gdpr": {
            "ajax_enabled": true,
            "all_disabled_by_api": true,
            "facebook_disabled_by_api": false,
            "analytics_disabled_by_api": false,
            "google_ads_disabled_by_api": false,
            "pinterest_disabled_by_api": false,
            "bing_disabled_by_api": false,
            "externalID_disabled_by_api": false,
            "facebook_prior_consent_enabled": true,
            "analytics_prior_consent_enabled": true,
            "google_ads_prior_consent_enabled": null,
            "pinterest_prior_consent_enabled": true,
            "bing_prior_consent_enabled": true,
            "cookiebot_integration_enabled": false,
            "cookiebot_facebook_consent_category": "marketing",
            "cookiebot_analytics_consent_category": "statistics",
            "cookiebot_tiktok_consent_category": "marketing",
            "cookiebot_google_ads_consent_category": null,
            "cookiebot_pinterest_consent_category": "marketing",
            "cookiebot_bing_consent_category": "marketing",
            "consent_magic_integration_enabled": false,
            "real_cookie_banner_integration_enabled": false,
            "cookie_notice_integration_enabled": false,
            "cookie_law_info_integration_enabled": true
        },
        "cookie": {
            "disabled_all_cookie": false,
            "disabled_advanced_form_data_cookie": false,
            "disabled_landing_page_cookie": false,
            "disabled_first_visit_cookie": false,
            "disabled_trafficsource_cookie": false,
            "disabled_utmTerms_cookie": false,
            "disabled_utmId_cookie": false
        },
        "woo": {
            "enabled": false
        },
        "edd": {
            "enabled": false
        }
    };
    /* ]]> */
    </script>
    <script type='text/javascript' defer='defer' src='https://www.jlm.com.pt/wp-content/plugins/pixelyoursite/dist/scripts/public.js?ver=9.4.7.1' id='pys-js'></script>

    <!-- Google Analytics snippet added by Site Kit -->
    <script type='text/javascript' defer='defer' src='https://www.googletagmanager.com/gtag/js?id=UA-187352278-1' id='google_gtagjs-js' async></script>
    <script type='text/javascript' id='google_gtagjs-js-after'>
    window.dataLayer = window.dataLayer || [];
    function gtag() {
        dataLayer.push(arguments);
    }
    gtag('set', 'linker', {
        "domains": ["www.jlm.com.pt"]
    });
    gtag("js", new Date());
    gtag("set", "developer_id.dZTNiMT", true);
    gtag("config", "UA-187352278-1", {
        "anonymize_ip": true
    });
    gtag("config", "G-KC4NWD5EZK");
    </script>

    <!-- End Google Analytics snippet added by Site Kit -->
    <link rel="https://api.w.org/" href="https://www.jlm.com.pt/wp-json/"/>
    <link rel="alternate" type="application/json" href="https://www.jlm.com.pt/wp-json/wp/v2/pages/1123"/>
    <link rel="EditURI" type="application/rsd+xml" title="RSD" href="https://www.jlm.com.pt/xmlrpc.php?rsd"/>
    <link rel="wlwmanifest" type="application/wlwmanifest+xml" href="https://www.jlm.com.pt/wp-includes/wlwmanifest.xml"/>
    <meta name="generator" content="WordPress 5.8.10"/>
    <link rel="alternate" type="application/json+oembed" href="https://www.jlm.com.pt/wp-json/oembed/1.0/embed?url=https%3A%2F%2Fwww.jlm.com.pt%2Falder%2F"/>
    <link rel="alternate" type="text/xml+oembed" href="https://www.jlm.com.pt/wp-json/oembed/1.0/embed?url=https%3A%2F%2Fwww.jlm.com.pt%2Falder%2F&#038;format=xml"/>

    <!-- GA Google Analytics @ https://m0n.co/ga -->
    <script>
    			(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
    			(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
    			m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    			})(window,document,'script','https://www.google-analytics.com/analytics.js','ga');
    			ga('create', 'UA-187352278-1', 'auto', gtag('config', 'UA-187352278-1'););
    			ga('send', 'pageview');
    		</script>

    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-187352278-1">
    </script>
    <script>
    window.dataLayer = window.dataLayer || [];
    function gtag() {
        dataLayer.push(arguments);
    }
    gtag('js', new Date());

    gtag('config', 'UA-187352278-1');
    </script>
    <meta name="generator" content="Site Kit by Google 1.104.0"/>
    <script>
    readMoreArgs = []
    </script>
    <meta name="generator" content="Powered by WPBakery Page Builder - drag and drop page builder for WordPress."/>
    <style type="text/css" id="custom-background-css">
    body.custom-background {
        background-color: #eaeaea;
    }
    </style>
    <meta name="generator" content="Powered by Slider Revolution 6.6.14 - responsive, Mobile-Friendly Slider Plugin for WordPress with comfortable drag and drop interface."/>
    <link rel="icon" href="https://www.jlm.com.pt/wp-content/uploads/2015/08/cropped-icon_googlemaps-32x32.png" sizes="32x32"/>
    <link rel="icon" href="https://www.jlm.com.pt/wp-content/uploads/2015/08/cropped-icon_googlemaps-192x192.png" sizes="192x192"/>
    <link rel="apple-touch-icon" href="https://www.jlm.com.pt/wp-content/uploads/2015/08/cropped-icon_googlemaps-180x180.png"/>
    <meta name="msapplication-TileImage" content="https://www.jlm.com.pt/wp-content/uploads/2015/08/cropped-icon_googlemaps-270x270.png"/>
    <script>
    function setREVStartSize(e) {
        //window.requestAnimationFrame(function() {
        window.RSIW = window.RSIW === undefined ? window.innerWidth : window.RSIW;
        window.RSIH = window.RSIH === undefined ? window.innerHeight : window.RSIH;
        try {
            var pw = document.getElementById(e.c).parentNode.offsetWidth,
                newh;
            pw = pw === 0 || isNaN(pw) || (e.l == "fullwidth" || e.layout == "fullwidth") ? window.RSIW : pw;
            e.tabw = e.tabw === undefined ? 0 : parseInt(e.tabw);
            e.thumbw = e.thumbw === undefined ? 0 : parseInt(e.thumbw);
            e.tabh = e.tabh === undefined ? 0 : parseInt(e.tabh);
            e.thumbh = e.thumbh === undefined ? 0 : parseInt(e.thumbh);
            e.tabhide = e.tabhide === undefined ? 0 : parseInt(e.tabhide);
            e.thumbhide = e.thumbhide === undefined ? 0 : parseInt(e.thumbhide);
            e.mh = e.mh === undefined || e.mh == "" || e.mh === "auto" ? 0 : parseInt(e.mh, 0);
            if (e.layout === "fullscreen" || e.l === "fullscreen")
                newh = Math.max(e.mh, window.RSIH);
            else {
                e.gw = Array.isArray(e.gw) ? e.gw : [e.gw];
                for (var i in e.rl)
                    if (e.gw[i] === undefined || e.gw[i] === 0)
                        e.gw[i] = e.gw[i - 1];
                e.gh = e.el === undefined || e.el === "" || (Array.isArray(e.el) && e.el.length == 0) ? e.gh : e.el;
                e.gh = Array.isArray(e.gh) ? e.gh : [e.gh];
                for (var i in e.rl)
                    if (e.gh[i] === undefined || e.gh[i] === 0)
                        e.gh[i] = e.gh[i - 1];

                var nl = new Array(e.rl.length),
                    ix = 0,
                    sl;
                e.tabw = e.tabhide >= pw ? 0 : e.tabw;
                e.thumbw = e.thumbhide >= pw ? 0 : e.thumbw;
                e.tabh = e.tabhide >= pw ? 0 : e.tabh;
                e.thumbh = e.thumbhide >= pw ? 0 : e.thumbh;
                for (var i in e.rl)
                    nl[i] = e.rl[i] < window.RSIW ? 0 : e.rl[i];
                sl = nl[0];
                for (var i in nl)
                    if (sl > nl[i] && nl[i] > 0) {
                        sl = nl[i];
                        ix = i;
                    }
                var m = pw > (e.gw[ix] + e.tabw + e.thumbw) ? 1 : (pw - (e.tabw + e.thumbw)) / (e.gw[ix]);
                newh = (e.gh[ix] * m) + (e.tabh + e.thumbh);
            }
            var el = document.getElementById(e.c);
            if (el !== null && el)
                el.style.height = newh + "px";
            el = document.getElementById(e.c + "_wrapper");
            if (el !== null && el) {
                el.style.height = newh + "px";
                el.style.display = "block";
            }
        } catch (e) {
            console.log("Failure at Presize of Slider:" + e)
        }

    }
    //});
    ;
    </script>
    <style type="text/css" data-type="vc_shortcodes-custom-css">
    .vc_custom_1627567480930 {
        margin-right: 0px !important;
        margin-left: 0px !important;
        border-top-width: 1px !important;
        padding-top: 5px !important;
        padding-bottom: 15px !important;
        background-color: #eeeeee !important;
        border-top-color: #dddddd !important;
    }

    .vc_custom_1477555201574 {
        margin-bottom: 30px !important;
    }

    .vc_custom_1468421155022 {
        margin-top: 10px !important;
        padding-left: 30px !important;
    }

    .vc_custom_1627567700296 {
        margin-top: 10px !important;
        padding-left: 30px !important;
    }
    </style>
    <noscript>
        <style>
        .wpb_animate_when_almost_visible {
            opacity: 1;
        }
        </style></noscript>
    </noscript>
    <script>
    /*! loadCSS rel=preload polyfill. [c]2017 Filament Group, Inc. MIT License */
    (function(w) {
        "use strict";
        if (!w.loadCSS) {
            w.loadCSS = function() {}
        }
        var rp = loadCSS.relpreload = {};
        rp.support = (function() {
            var ret;
            try {
                ret = w.document.createElement("link").relList.supports("preload")
            } catch (e) {
                ret = !1
            }
            return function() {
                return ret
            }
        })();
        rp.bindMediaToggle = function(link) {
            var finalMedia = link.media || "all";
            function enableStylesheet() {
                link.media = finalMedia
            }
            if (link.addEventListener) {
                link.addEventListener("load", enableStylesheet)
            } else if (link.attachEvent) {
                link.attachEvent("onload", enableStylesheet)
            }
            setTimeout(function() {
                link.rel = "stylesheet";
                link.media = "only x"
            });
            setTimeout(enableStylesheet, 3000)
        };
        rp.poly = function() {
            if (rp.support()) {
                return
            }
            var links = w.document.getElementsByTagName("link");
            for (var i = 0; i < links.length; i++) {
                var link = links[i];
                if (link.rel === "preload" && link.getAttribute("as") === "style" && !link.getAttribute("data-loadcss")) {
                    link.setAttribute("data-loadcss", !0);
                    rp.bindMediaToggle(link)
                }
            }
        };
        if (!rp.support()) {
            rp.poly();
            var run = w.setInterval(rp.poly, 500);
            if (w.addEventListener) {
                w.addEventListener("load", function() {
                    rp.poly();
                    w.clearInterval(run)
                })
            } else if (w.attachEvent) {
                w.attachEvent("onload", function() {
                    rp.poly();
                    w.clearInterval(run)
                })
            }
        }
        if (typeof exports !== "undefined") {
            exports.loadCSS = loadCSS
        }
        else {
            w.loadCSS = loadCSS
        }
    }(typeof global !== "undefined" ? global : this))
    </script>
    <!-- Google Tag Manager -->
    <script>
    (function(w, d, s, l, i) {
        w[l] = w[l] || [];
        w[l].push({
            'gtm.start':
            new Date().getTime(),
            event: 'gtm.js'
        });
        var f = d.getElementsByTagName(s)[0],
            j = d.createElement(s),
            dl = l != 'dataLayer' ? '&l=' + l : '';
        j.async = true;
        j.src =
        'https://www.googletagmanager.com/gtm.js?id=' + i + dl;
        f.parentNode.insertBefore(j, f);
    })(window, document, 'script', 'dataLayer', 'GTM-W4SFLVQ');
    </script>
    <!-- End Google Tag Manager -->
	<link rel="stylesheet" href="/css/styles.css">
	<script defer src="/js/scripts.js"></script>

</head>

<body data-rsssl=1 class="page-template-default page page-id-1123 custom-background wp-embed-responsive group-blog header01 full-width wpb-js-composer js-comp-ver-6.13.0 vc_responsive">

    <div id="page" class="hfeed site">
       {{> header}}
        <!-- .site-header -->

        <div id="content" class="site-content">
            <div class="big-title" style="background-image: url('https://www.winwood-products.com/images/splash/egp-cherry3-1098.jpg')">
                <div class="container">
                    <div class="row middle">
                        <div class="col-md-8">
                            <h1 class="entry-title" itemprop="headline">Cherry Triply three-layer panels</h1>
                            <h3>Cherry Triply three-layer panels & worktops are available in a wide range of constructions, sizes & thicknesses.</h3>
                        </div>
                        <div class="col-md-4 end"></div>
                    </div>
                </div>
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <div class="content">
                            <article id="post-1123">
                                <div class="entry-content">
                                    <section class="wpb-content-wrapper">
                                        <div class="vc_row wpb_row vc_row-fluid">
                                            <div class="wpb_column vc_column_container vc_col-sm-12">
                                                <div class="vc_column-inner">
                                                    <div class="wpb_wrapper">
                                                        <div class="vc_row wpb_row vc_inner vc_row-fluid">
                                                            <div class="wpb_column vc_column_container vc_col-sm-12">
                                                                <div class="vc_column-inner">
                                                                    <div class="wpb_wrapper">
                                                                        <div class="vc_custom_heading style2 vc_custom_1477555201574">
                                                                            <h2 style="font-size: 18px;color: #333333;text-align: left">{{title}}</h2>
                                                                        </div>
                                                                        <div class="wpb_images_carousel wpb_content_element vc_clearfix">
                                                                            <div class="wpb_wrapper">
                                                                                <div id="vc_images-carousel-1-1740069942" data-ride="vc_carousel" data-wrap="false" style="width: 100%;" data-interval="5000" data-auto-height="yes" data-mode="horizontal" data-partial="false" data-per-view="1" data-hide-on-end="false" class="vc_slide vc_images_carousel">
                                                                                    <ol class="vc_carousel-indicators">
                                                                                        <li data-target="#vc_images-carousel-1-1740069942" data-slide-to="0"></li>
                                                                                        <li data-target="#vc_images-carousel-1-1740069942" data-slide-to="1"></li>
                                                                                        <li data-target="#vc_images-carousel-1-1740069942" data-slide-to="2"></li>
                                                                                    </ol>
                                                                                    <div class="vc_carousel-inner">
                                                                                        <div class="vc_carousel-slideline">
                                                                                            <div class="vc_carousel-slideline-inner">
                                                                                                <div class="vc_item">
                                                                                                    <div class="vc_inner">
                                                                                                        <img width="1130" height="500" src="https://www.winwood-products.com/images/splash/egp-cherry-angled-1098.jpg" class="attachment-full" alt="AMIEIRO" loading="lazy" title="AMIEIRO"/>
                                                                                                    </div>
                                                                                                </div>
                                                                                                <div class="vc_item">
                                                                                                    <div class="vc_inner">
                                                                                                        <img width="1383" height="652" src="https://www.winwood-products.com/images/splash/egp-cherry3-1098.jpg" class="attachment-full" alt="Alder" loading="lazy" title="Alder"/>
                                                                                                    </div>
                                                                                                </div>
                                                                                                <div class="vc_item">
                                                                                                    <div class="vc_inner">
                                                                                                        <img width="1383" height="652" src="https://www.winwood-products.com/images/splash/cherry-tree-1098.jpg" class="attachment-full" alt="Alder" loading="lazy" title="Alder"/>
                                                                                                    </div>
                                                                                                </div>
                                                                                            </div>
                                                                                        </div>
                                                                                    </div>
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                            <style>
                                                                                      {{!-- figure div {
        display: block;
        margin: 0 auto;
        width: 200px;
      }

      figure div .img {
        height: auto;
        width: 100%;
      }

      @media screen and (min-width: 418px) {
        print section .imgleft,
        section .imgright,
        section .img {
          width: 32%;
          height: auto;
        }

        figure div {
          float: left;
          margin-right: 5px;
          width: 32%;
        }
      } --}}
                                                                                .sectionheading{

                                                                                }
                                                                            </style>
                                                                                 <article id="article">
        <h1 id="pagetitle">Cherry - 'Triply' Three-Layer Panels</h1>
        <div id="content">
        
            <img
              class="imglink"
              src="https://www.winwood-products.com/images/egp-cherry3.jpg"
              alt="Cherry 'Triply' three-layer panel"
            />
          <ul class="list-summary">
            <li>Special manufacture item</li>
            <li>20mm, 26mm (others by agreement)</li>
            <li>Maximum size 3000x1250mm</li>
            <li>
              Typically available within 2-3 weeks in minimum 5 sheets per item
            </li>
            <li>Bulk packages of mini-bundles (10) and pallets (20)</li>
            <li>
              Supplied unfinished or with various coatings such as clear
              lacquer, oils, etc.
            </li>
            <li>
              Formaldehyde-free D3 bonded for limited high moisture conditions
            </li>
          </ul>
          <figure>
            <p class="subnote">
              Click to see a typical 1250x1250mm panel face & reverse:
            </p>
            <div>
          
                <img
                  src="https://www.winwood-products.com/images/egp/3-layer-cherry-ab-scan.jpg"
                  alt="Full length cherry panel"
                  class="imglink"
                />
                <p style="text-align: center">Cherry A/B</p>
            </div>
          </figure>
          <p id="headingdecors-onview" class="sectionheading">Construction</p>
          <section id="decors-onview" class="onview">
            <p>
              Specially manufactured in minimum quantity of 5 per item, Cherry
              Triply three-layer panels are constructed from 5mm thick,
              full-length cherry faces bonded either side of a cross-banded 10mm
              or 16mm finger jointed core of the same species.
            </p>
            <p>
              The faces are made from strips of random width of 50-140mm wide.
            </p>
            <p>
              The cherry strips making up the panel core and faces are bonded
              together with formaldehyde-free D3 water resistant glue, and the
              faces calibrated to 80 grit before being protected with
              shrinkwrapping
            </p>
            <p>
              The panels can be supplied as produced, or cut or machined to
              pattern. They can also be supplied prefinished with lacquer, oil,
              wax or special finishes as required.
            </p>
          </section>
          <p id="headingproductinformation" class="sectionheading">
            Information
          </p>
          <section id="productinformation">
            <h2>Technical details (general)</h2>
            <ul class="list-2col-headed">
              <li>
                Construction:
                <ul>
                  <li>
                    Full length 5mm thick cherry staves of random width
                    (50-140mm wide) bonded to a cross-banded finger jointed core
                    of the same species - bonded to a cross-banded finger
                    jointed core of the same species
                  </li>
                </ul>
              </li>
              <li>
                Standard thickness:
                <ul>
                  <li>20mm (5mm/10mm/5mm)</li>
                  <li>26mm (5mm/16mm/5mm)</li>
                </ul>
              </li>
              <li>
                Standard sizes:
                <ul>
                  <li>810x1250mm</li>
                  <li>1000x1250mm</li>
                  <li>1250x1250mm</li>
                  <li>1650x1250mm</li>
                  <li>1900x1250mm</li>
                  <li>2050x1250mm</li>
                  <li>2300x1250mm</li>
                  <li>2500x1250mm</li>
                  <li>2750x1250mm</li>
                  <li>3000x1250mm</li>
                </ul>
              </li>
              <li>
                Special sizes:
                <ul>
                  <li>
                    In principle, any size can be produced up to the maximum
                    stated above
                  </li>
                </ul>
              </li>
              <li>
                Calibration:
                <ul>
                  <li>Final sanding with 80 grit</li>
                </ul>
              </li>
              <li>
                Packaging:
                <ul>
                  <li>Faces individually protected with shrinkwrapping</li>
                </ul>
              </li>
              <li>
                Tolerances:
                <ul>
                  <li>Length/width: +5mm/-3mm</li>
                  <li>Thickness: ±0.2mm</li>
                  <li>(Others by arrangement)</li>
                </ul>
              </li>
              <li>
                Face grades:
                <ul>
                  <li>A face / B reverse</li>
                  <li>Other grading by arrangement</li>
                </ul>
              </li>
              <li>
                Bonding Quality:
                <ul>
                  <li>D3 - Limited high moisture applications</li>
                  <li>
                    Formaldehyde (CAS # 50-00-0) is not intentionally used in
                    the glue. However, trace levels (< 0.02%) may be present as
                    a result of the specific characteristics of the raw
                    materials and/or of the manufacturing process
                  </li>
                </ul>
              </li>
              <li>
                Other features:
                <ul>
                  <li>
                    Other woods can be incorporated into the construction of the
                    panel to achieve a decorative or contrasting effect
                  </li>
                </ul>
              </li>
            </ul>
          </section>
          <p id="headingstorage" class="sectionheading">
            Design, storage &amp; processing
          </p>
          <section id="storage">
            <ul class="list-2col-headed">
              <li>
                Design &amp; storage:
                <ul>
                  <li>
                    Although these panels are more stable than solid lumber, it
                    is vital that design of any installation allows for the risk
                    of movement due to changes in ambient moisture or long-term
                    forces acting upon the panel
                  </li>
                  <li>
                    The panels should remain within their protective film until
                    ready for conversion into their finished sizes
                  </li>
                  <li>
                    Immediately upon receipt, the panels must be stacked
                    directly on top of each other and fully supported on
                    perfectly flat, uniform supports - the top panel should be
                    fully covered with chipboard or MDF, and all edges left
                    allowed to receive good air circulation. This can be done
                    with the help of lining strips/slats
                  </li>
                  <li>
                    The panels must then be covered carefully to ensure
                    temperatures and air humidity are maintained from receipt of
                    the panels right up until further processing
                  </li>
                  <li>
                    Air humidity should remain between 28%-58% and a temperature
                    range of 17-24°C in order to maintain flatness. (Higher air
                    humidity will lead the panels to take up moisture and swell,
                    while lower air humidity will cause them to give up their
                    inner cell moisture and shrink)
                  </li>
                  <li>
                    NB: Extremes outside the above ranges risk damage to the
                    panels, so it is vital to ventilate the storage to ensure
                    the conditions needed.
                  </li>
                  <li></li>
                </ul>
              </li>
              <li>
                Processing:
                <ul>
                  <li>
                    After cutting the panels to their final dimension and before
                    final processing, it is strongly recommended that the panels
                    are left to acclimatise for a few days with the panels
                    stacked directly one on another (still in their clear film
                    if possible) and the top panel of the stack be covered with
                    chipboard, MDF or similar lower humidity product.
                  </li>
                  <li>
                    If one or more of the above cannot be followed it is safest
                    to keep the panels as supplied, with the film intact, and
                    stored carefully on a horizontal surface covered in full
                    length and stacked one panel directly on another and a sheet
                    of chipboard or similar panel with lower humidity used as a
                    cover sheet.
                  </li>
                  <li>
                    You should keep them stored this way until actually
                    processing them further.
                  </li>
                  <li>
                    Important: To minimize the chance of deflection, panels
                    should always be processed simultaneously on both sides
                    (sanding, brushing, profiling, lacquering / oiling) and the
                    thickness of the outer layers remain balanced on both sides
                    of the core after processing
                  </li>
                </ul>
              </li>
            </ul>
          </section>
        </div>
      </article>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div  class="vc_row wpb_row vc_inner vc_row-fluid vc_custom_1627567480930 vc_row-has-fill">
                                                            <div class="wpb_column vc_column_container vc_col-sm-6">
                                                                <div class="vc_column-inner">
                                                                    <div class="wpb_wrapper">
                                                                        <div class="vc_custom_heading vc_custom_1468421155022">
                                                                            <h3 style="font-size: 18px;color: #333333;line-height: 1;text-align: left">Technical sheet</h3>
                                                                        </div>
                                                                        <div class="vc_empty_space" style="height: 10px">
                                                                            <span class="vc_empty_space_inner"></span>
                                                                        </div>
                                                                        <div class="vc_btn3-container vc_btn3-center">
                                                                            <a style="background-color:#584632; color:#ffffff;" class="vc_general vc_btn3 vc_btn3-size-lg vc_btn3-shape-square vc_btn3-style-custom vc_btn3-block vc_btn3-icon-left" href="https://www.jlm.com.pt/fichastecnicas/FICHATECNICAAMIEIRO_EN.pdf" title="ALDER" target="_blank">
                                                                                <i class="vc_btn3-icon "></i>
                                                                                 Download.PDF
                                                                            </a>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div class="wpb_column vc_column_container vc_col-sm-6">
                                                                <div class="vc_column-inner">
                                                                    <div class="wpb_wrapper">
                                                                        <div class="vc_custom_heading vc_custom_1627567700296">
                                                                            <h3 style="font-size: 18px;color: #333333;line-height: 1;text-align: left">Do you need more information?</h3>
                                                                        </div>
                                                                        <div class="vc_empty_space" style="height: 10px">
                                                                            <span class="vc_empty_space_inner"></span>
                                                                        </div>
                                                                        <div class="vc_btn3-container vc_btn3-center">
                                                                            <a style="background-color:#584632; color:#ffffff;" class="vc_general vc_btn3 vc_btn3-size-lg vc_btn3-shape-square vc_btn3-style-custom vc_btn3-block vc_btn3-icon-left" href="https://www.jlm.com.pt/contacts/" title="Contacts">
                                                                                <i class="vc_btn3-icon far fa-address-card"></i>
                                                                                 Contacts
                                                                            </a>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="vc_row wpb_row vc_row-fluid">
                                            <div class="wpb_column vc_column_container vc_col-sm-12">
                                                <div class="vc_column-inner">
                                                    <div class="wpb_wrapper">
                                                        <div class="vc_empty_space" style="height: 10px">
                                                            <span class="vc_empty_space_inner"></span>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </section>
                                </div>
                                <!-- .entry-content -->
                            </article>
                            <!-- #post-## -->
                        </div>
                    </div>
                </div>
            </div>
        </div>


 {{> footer}}

        <!-- #content -->
    </div>

    <script>
    window.RS_MODULES = window.RS_MODULES || {};
    window.RS_MODULES.modules = window.RS_MODULES.modules || {};
    window.RS_MODULES.waiting = window.RS_MODULES.waiting || [];
    window.RS_MODULES.defered = true;
    window.RS_MODULES.moduleWaiting = window.RS_MODULES.moduleWaiting || {};
    window.RS_MODULES.type = 'compiled';
    </script>
    <script>
    jQuery(document).ready(function($) {
        $("#site-navigation").headroom(
        {
            offset: 160
        }
        );
    });
    </script>

    <script>
    jQuery(document).ready(function($) {
        var $window = $(window);
        // Scroll up
        var $scrollup = $('.scrollup');

        $window.scroll(function() {
            if ($window.scrollTop() > 100) {
                $scrollup.addClass('show');
            } else {
                $scrollup.removeClass('show');
            }
        });

        $scrollup.on('click', function(evt) {
            $("html, body").animate({
                scrollTop: 0
            }, 600);
            evt.preventDefault();
        });
    });
    </script>

    <script type="text/html" id="wpb-modifications">
    window.wpbCustomElement = 1;
    </script>
    <link rel='stylesheet' id='vc_google_fonts_abril_fatfaceregular-css' href='//fonts.googleapis.com/css?family=Abril+Fatface%3Aregular&#038;subset=latin&#038;ver=5.8.10' type='text/css' media='all'/>
    <link rel='stylesheet' id='vc_carousel_css-css' href='https://www.jlm.com.pt/wp-content/plugins/js_composer/assets/lib/vc_carousel/css/vc_carousel.min.css?ver=6.13.0' type='text/css' media='all'/>
    <link rel='stylesheet' id='readMoreStyles-css' href='https://www.jlm.com.pt/wp-content/plugins/read-more/css/readMoreStyles.css?ver=5.8.10' type='text/css' media='all'/>
    <link rel='stylesheet' id='vc_font_awesome_5_shims-css' href='https://www.jlm.com.pt/wp-content/plugins/js_composer/assets/lib/bower/font-awesome/css/v4-shims.min.css?ver=6.13.0' type='text/css' media='all'/>
    <link rel='stylesheet' id='vc_font_awesome_5-css' href='https://www.jlm.com.pt/wp-content/plugins/js_composer/assets/lib/bower/font-awesome/css/all.min.css?ver=6.13.0' type='text/css' media='all'/>
    <link rel='stylesheet' id='rs-plugin-settings-css' href='https://www.jlm.com.pt/wp-content/plugins/revslider/public/assets/css/rs6.css?ver=6.6.14' type='text/css' media='all'/>
    <style id='rs-plugin-settings-inline-css' type='text/css'>
    .tp-caption a {
        color: #ff7302;
        text-shadow: none;
        -webkit-transition: all 0.2s ease-out;
        -moz-transition: all 0.2s ease-out;
        -o-transition: all 0.2s ease-out;
        -ms-transition:all 0.2s ease-out
    }

    .tp-caption a:hover {
        color: #ffa902
    }
    </style>
    <script type='text/javascript' defer='defer' src='https://ajax.googleapis.com/ajax/libs/webfont/1.6.26/webfont.js?ver=1.2.64.0' id='mo-google-webfont-js'></script>
    <script type='text/javascript' id='mailoptin-js-extra'>
    /* <![CDATA[ */
    var mailoptin_globals = {
        "public_js": "https:\/\/www.jlm.com.pt\/wp-content\/plugins\/mailoptin\/src\/core\/src\/assets\/js\/src",
        "public_sound": "https:\/\/www.jlm.com.pt\/wp-content\/plugins\/mailoptin\/src\/core\/src\/assets\/sound\/",
        "mailoptin_ajaxurl": "\/alder\/?mailoptin-ajax=%%endpoint%%",
        "is_customize_preview": "false",
        "disable_impression_tracking": "false",
        "sidebar": "0",
        "js_required_title": "Title is required.",
        "is_new_returning_visitors_cookies": "false"
    };
    /* ]]> */
    </script>
    <script type='text/javascript' defer='defer' src='https://www.jlm.com.pt/wp-content/plugins/mailoptin/src/core/src/assets/js/mailoptin.min.js?ver=1.2.64.0' id='mailoptin-js'></script>
    <script type='text/javascript' defer='defer' src='https://www.jlm.com.pt/wp-content/plugins/revslider/public/assets/js/rbtools.min.js?ver=6.6.14' defer async id='tp-tools-js'></script>
    <script type='text/javascript' defer='defer' src='https://www.jlm.com.pt/wp-content/plugins/revslider/public/assets/js/rs6.min.js?ver=6.6.14' defer async id='revmin-js'></script>
    <script type='text/javascript' id='rocket-browser-checker-js-after'>
    "use strict";
    var _createClass = function() {
        function defineProperties(target, props) {
            for (var i = 0; i < props.length; i++) {
                var descriptor = props[i];
                descriptor.enumerable = descriptor.enumerable || !1,
                descriptor.configurable = !0,
                "value" in descriptor && (descriptor.writable = !0),
                Object.defineProperty(target, descriptor.key, descriptor)
            }
        }
        return function(Constructor, protoProps, staticProps) {
            return protoProps && defineProperties(Constructor.prototype, protoProps), staticProps && defineProperties(Constructor, staticProps), Constructor
        }
    }();
    function _classCallCheck(instance, Constructor) {
        if (!(instance instanceof Constructor))
            throw new TypeError("Cannot call a class as a function")
    }
    var RocketBrowserCompatibilityChecker = function() {
        function RocketBrowserCompatibilityChecker(options) {
            _classCallCheck(this, RocketBrowserCompatibilityChecker),
            this.passiveSupported = !1,
            this._checkPassiveOption(this),
            this.options = !!this.passiveSupported && options
        }
        return _createClass(RocketBrowserCompatibilityChecker, [{
            key: "_checkPassiveOption",
            value: function(self) {
                try {
                    var options = {
                        get passive() {
                            return !(self.passiveSupported = !0)
                        }
                    };
                    window.addEventListener("test", null, options),
                    window.removeEventListener("test", null, options)
                } catch (err) {
                    self.passiveSupported = !1
                }
            }
        }, {
            key: "initRequestIdleCallback",
            value: function() {
                !1 in window && (window.requestIdleCallback = function(cb) {
                    var start = Date.now();
                    return setTimeout(function() {
                        cb({
                            didTimeout: !1,
                            timeRemaining: function() {
                                return Math.max(0, 50 - (Date.now() - start))
                            }
                        })
                    }, 1)
                }),
                !1 in window && (window.cancelIdleCallback = function(id) {
                    return clearTimeout(id)
                })
            }
        }, {
            key: "isDataSaverModeOn",
            value: function() {
                return "connection" in navigator && !0 === navigator.connection.saveData
            }
        }, {
            key: "supportsLinkPrefetch",
            value: function() {
                var elem = document.createElement("link");
                return elem.relList && elem.relList.supports && elem.relList.supports("prefetch") && window.IntersectionObserver && "isIntersecting" in IntersectionObserverEntry.prototype
            }
        }, {
            key: "isSlowConnection",
            value: function() {
                return "connection" in navigator && "effectiveType" in navigator.connection && ("2g" === navigator.connection.effectiveType || "slow-2g" === navigator.connection.effectiveType)
            }
        }]), RocketBrowserCompatibilityChecker
    }();
    </script>
    <script type='text/javascript' id='rocket-preload-links-js-extra'>
    /* <![CDATA[ */
    var RocketPreloadLinksConfig = {
        "excludeUris": "\/(.+\/)?feed\/?.+\/?|\/(?:.+\/)?embed\/|\/(index\\.php\/)?wp\\-json(\/.*|$)|\/wp-admin\/|\/logout\/|\/wp-login.php",
        "usesTrailingSlash": "1",
        "imageExt": "jpg|jpeg|gif|png|tiff|bmp|webp|avif",
        "fileExt": "jpg|jpeg|gif|png|tiff|bmp|webp|avif|php|pdf|html|htm",
        "siteUrl": "https:\/\/www.jlm.com.pt",
        "onHoverDelay": "100",
        "rateThrottle": "3"
    };
    /* ]]> */
    </script>
    <script type='text/javascript' id='rocket-preload-links-js-after'>
    (function() {
        "use strict";
        var r = "function" == typeof Symbol && "symbol" == typeof Symbol.iterator ? function(e) {
                return typeof e
            } : function(e) {
                return e && "function" == typeof Symbol && e.constructor === Symbol && e !== Symbol.prototype ? "symbol" : typeof e
            },
            e = function() {
                function i(e, t) {
                    for (var n = 0; n < t.length; n++) {
                        var i = t[n];
                        i.enumerable = i.enumerable || !1,
                        i.configurable = !0,
                        "value" in i && (i.writable = !0),
                        Object.defineProperty(e, i.key, i)
                    }
                }
                return function(e, t, n) {
                    return t && i(e.prototype, t), n && i(e, n), e
                }
            }();
        function i(e, t) {
            if (!(e instanceof t))
                throw new TypeError("Cannot call a class as a function")
        }
        var t = function() {
            function n(e, t) {
                i(this, n),
                this.browser = e,
                this.config = t,
                this.options = this.browser.options,
                this.prefetched = new Set,
                this.eventTime = null,
                this.threshold = 1111,
                this.numOnHover = 0
            }
            return e(n, [{
                key: "init",
                value: function() {
                    !this.browser.supportsLinkPrefetch() || this.browser.isDataSaverModeOn() || this.browser.isSlowConnection() || (this.regex = {
                        excludeUris: RegExp(this.config.excludeUris, "i"),
                        images: RegExp(".(" + this.config.imageExt + ")$", "i"),
                        fileExt: RegExp(".(" + this.config.fileExt + ")$", "i")
                    }, this._initListeners(this))
                }
            }, {
                key: "_initListeners",
                value: function(e) {
                    -1 < this.config.onHoverDelay && document.addEventListener("mouseover", e.listener.bind(e), e.listenerOptions),
                    document.addEventListener("mousedown", e.listener.bind(e), e.listenerOptions),
                    document.addEventListener("touchstart", e.listener.bind(e), e.listenerOptions)
                }
            }, {
                key: "listener",
                value: function(e) {
                    var t = e.target.closest("a"),
                        n = this._prepareUrl(t);
                    if (null !== n)
                        switch (e.type) {
                        case "mousedown":
                        case "touchstart":
                            this._addPrefetchLink(n);
                            break;
                        case "mouseover":
                            this._earlyPrefetch(t, n, "mouseout")
                        }
                }
            }, {
                key: "_earlyPrefetch",
                value: function(t, e, n) {
                    var i = this,
                        r = setTimeout(function() {
                            if (r = null, 0 === i.numOnHover)
                                setTimeout(function() {
                                    return i.numOnHover = 0
                                }, 1e3);
                            else if (i.numOnHover > i.config.rateThrottle)
                                return;
                            i.numOnHover++,
                            i._addPrefetchLink(e)
                        }, this.config.onHoverDelay);
                    t.addEventListener(n, function e() {
                        t.removeEventListener(n, e, {
                            passive: !0
                        }),
                        null !== r && (clearTimeout(r), r = null)
                    }, {
                        passive: !0
                    })
                }
            }, {
                key: "_addPrefetchLink",
                value: function(i) {
                    return this.prefetched.add(i.href), new Promise(function(e, t) {
                        var n = document.createElement("link");
                        n.rel = "prefetch",
                        n.href = i.href,
                        n.onload = e,
                        n.onerror = t,
                        document.head.appendChild(n)
                    }).catch(function() {})
                }
            }, {
                key: "_prepareUrl",
                value: function(e) {
                    if (null === e || "object" !== (void 0 === e ? "undefined" : r(e)) || !1 in e || -1 === ["http:", "https:"].indexOf(e.protocol))
                        return null;
                    var t = e.href.substring(0, this.config.siteUrl.length),
                        n = this._getPathname(e.href, t),
                        i = {
                            original: e.href,
                            protocol: e.protocol,
                            origin: t,
                            pathname: n,
                            href: t + n
                        };
                    return this._isLinkOk(i) ? i : null
                }
            }, {
                key: "_getPathname",
                value: function(e, t) {
                    var n = t ? e.substring(this.config.siteUrl.length) : e;
                    return n.startsWith("/") || (n = "/" + n), this._shouldAddTrailingSlash(n) ? n + "/" : n
                }
            }, {
                key: "_shouldAddTrailingSlash",
                value: function(e) {
                    return this.config.usesTrailingSlash && !e.endsWith("/") && !this.regex.fileExt.test(e)
                }
            }, {
                key: "_isLinkOk",
                value: function(e) {
                    return null !== e && "object" === (void 0 === e ? "undefined" : r(e)) && (!this.prefetched.has(e.href) && e.origin === this.config.siteUrl && -1 === e.href.indexOf("?") && -1 === e.href.indexOf("#") && !this.regex.excludeUris.test(e.href) && !this.regex.images.test(e.href))
                }
            }], [{
                key: "run",
                value: function() {
                    "undefined" != typeof RocketPreloadLinksConfig && new n(new RocketBrowserCompatibilityChecker({
                        capture: !0,
                        passive: !0
                    }), RocketPreloadLinksConfig).init()
                }
            }]), n
        }();
        t.run();
    }());
    </script>
    <script type='text/javascript' defer='defer' src='https://www.jlm.com.pt/wp-content/themes/tm-wood-worker/js/jQuery.mmenu/js/jquery.mmenu.all.min.js?ver=3.6' id='jquery.menu-js-js'></script>
    <script type='text/javascript' defer='defer' src='https://www.jlm.com.pt/wp-content/themes/tm-wood-worker/js/jQuery.headroom.min.js?ver=3.6' id='head-room-jquery-js'></script>
    <script type='text/javascript' defer='defer' src='https://www.jlm.com.pt/wp-content/themes/tm-wood-worker/js/headroom.min.js?ver=3.6' id='head-room-js'></script>
    <script type='text/javascript' defer='defer' src='https://www.jlm.com.pt/wp-content/themes/tm-wood-worker/js/owl.carousel.min.js?ver=3.6' id='owl-carousel-js'></script>
    <script type='text/javascript' defer='defer' src='https://www.jlm.com.pt/wp-content/themes/tm-wood-worker/js/jquery.counterup.min.js?ver=3.6' id='counterup-js'></script>
    <script type='text/javascript' defer='defer' src='https://www.jlm.com.pt/wp-content/themes/tm-wood-worker/js/waypoints.min.js?ver=3.6' id='waypoints-js'></script>
    <script type='text/javascript' defer='defer' src='https://www.jlm.com.pt/wp-content/themes/tm-wood-worker/js/main.js?ver=3.6' id='main-js'></script>
    <script type='text/javascript' defer='defer' src='https://www.google.com/recaptcha/api.js?render=6LeX4vUUAAAAAGR9D9Trf6fUcr1DfwV7oll95EQP&#038;ver=3.0' id='google-recaptcha-js'></script>
    <script type='text/javascript' defer='defer' src='https://www.jlm.com.pt/wp-includes/js/dist/vendor/regenerator-runtime.min.js?ver=0.13.7' id='regenerator-runtime-js'></script>
    <script type='text/javascript' defer='defer' src='https://www.jlm.com.pt/wp-includes/js/dist/vendor/wp-polyfill.min.js?ver=3.15.0' id='wp-polyfill-js'></script>
    <script type='text/javascript' id='wpcf7-recaptcha-js-extra'>
    /* <![CDATA[ */
    var wpcf7_recaptcha = {
        "sitekey": "6LeX4vUUAAAAAGR9D9Trf6fUcr1DfwV7oll95EQP",
        "actions": {
            "homepage": "homepage",
            "contactform": "contactform"
        }
    };
    /* ]]> */
    </script>
    <script type='text/javascript' defer='defer' src='https://www.jlm.com.pt/wp-content/plugins/contact-form-7/modules/recaptcha/index.js?ver=5.5.6.1' id='wpcf7-recaptcha-js'></script>
    <script type='text/javascript' defer='defer' src='https://www.jlm.com.pt/wp-includes/js/wp-embed.min.js?ver=5.8.10' id='wp-embed-js'></script>
    <script type='text/javascript' defer='defer' src='https://www.jlm.com.pt/wp-content/plugins/js_composer/assets/js/dist/js_composer_front.min.js?ver=6.13.0' id='wpb_composer_front_js-js'></script>
    <script type='text/javascript' defer='defer' src='https://www.jlm.com.pt/wp-content/plugins/js_composer/assets/lib/vc_carousel/js/transition.min.js?ver=6.13.0' id='vc_transition_bootstrap_js-js'></script>
    <script type='text/javascript' defer='defer' src='https://www.jlm.com.pt/wp-content/plugins/js_composer/assets/lib/vc_carousel/js/vc_carousel.min.js?ver=6.13.0' id='vc_carousel_js-js'></script>
    <script type='text/javascript' defer='defer' src='https://www.jlm.com.pt/wp-content/plugins/read-more/js/yrmMore.js?ver=1.12' id='readMoreJs-js'></script>
    <script type='text/javascript' defer='defer' src='https://www.jlm.com.pt/wp-content/plugins/read-more/js/YrmClassic.js?ver=1.12' id='YrmClassic-js'></script>
    <script type='text/javascript'>
    (function() {
        var expirationDate = new Date();
        expirationDate.setTime(expirationDate.getTime() + 31536000 * 1000);
        document.cookie = "pll_language=en; expires=" + expirationDate.toUTCString() + "; path=/; secure; SameSite=Lax";
    }());
    </script>
</body>
